<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link type="text/css" rel="styleSheet" href="/lib/jquery.fancybox.min.css"/>
 <script type="text/javascript" src="/lib/jquery.fancybox.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <title>王家记事 - 2021年2月作品集 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/ukitopia/providence/fragments.html"><li class="list-item">返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-magic" aria-hidden="true"></i>王家记事 - 2021年2月作品集
   </div>

   <div class="middle-content">
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2021-02-04</span>
    </div>
     <ul class="boxline"><li class="box">
      <h3>亲亲这样的你 (?</h3>
      <p>她确实有些醉了，表情和动作都不太能受大脑支配。酒精使她的思维变得迟缓，迟缓得跟不上身体的反应速度，她的呼吸也渐渐变得急促，湿润的眼眸紧紧盯着科尔温，如同一个眼睁睁看着糖果即将分完却分不到自己，于是对着大人干着急的小孩。</p>
      <p>科尔温低头注视她泛起红晕的脸颊和微启的双唇，看她的眼里倒映出面无表情的自己。她的小手拼命扯着他白衬衫的领角，呼吸间有酒气扑面而来——她在企图表达些什么，但是此刻大脑有些宕机，于是在反应的间隙里她双手用力一扯科尔温的衣领，二人的鼻尖因此贴得更近了。</p>
      <p>科尔温吃痛，被扯得眉头一紧。他一言不发地垂眸凝视她噙满泪水的双眸，他极少看见她露出这样的表情。</p>
      <p>“你，你不明白，”她颤抖着开口说到，说得有些咬牙切齿，舌头却有些打结，终于有水珠溢出了眼眶。科尔温没有抬手抹去，任由晶莹的眼泪划出脸颊的弧度。</p>
      <p>“你不明白，像我这种人，唔——”</p>
      <p>他目光一沉，俯身截住她的话语。浓郁的酒气灌入口腔，科尔温抬手扣住她的脊背和后脑勺，自顾自地加重这个吻。他没有管怀中人对此做出了什么反应，强势地用舌尖扫过她的口腔。一吻终了，他重新抬头望向她的双眸，面无表情地接过话茬：“像你这种人？”</p>
      <p>她显然有些发懵，像一只刚睡醒的小猫。方才轻皱的眉头松动了，嘴唇变得湿润，眼神有些找不着焦距。等迟钝的思维全然理解他抛出的问题后，她迅速重整自己的心情，重新皱起眉头，恢复刚才有些激动的情绪：“像我这种人——”</p>
      <p>科尔温又俯身堵住了她上扬的尾音，任由她从鼻腔中哼出自己的不满。他将她楼得更紧，截断了她的一切退路。</p>
      <p>他在她的唇齿间流连了很久。等他再次抬起头注视她时，她脸上的怨气与不甘被羞恼代替了，柔顺的黑发被揉得有些凌乱。</p>
      <p>“科尔温！”她提高声音发起控诉。</p>
      <p>科尔温欣赏起她恼羞成怒的模样，“还难过吗？”他微不可见地勾起嘴角，“还难过就再亲一会儿。”</p>
      <p>/文：Uki</p>
      <p class="tag"># 王家记事&emsp;# Kerishya<br>2021-02-04</p>
      </li>
     </ul>
     <div class="post-copyright">
      <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
     </div>
   </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
<script type="text/javascript" src="/source/js/nocopy.js"></script>
</html>