<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="/lib/lazyload/jquery.lazyload.min.js"></script>
 <script type="text/javascript" src="/source/js/turntopage.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>友链 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
   </div>

   <div class="middle">
   
   <div class="middle-bar">
    <i class="fa fa-address-book" aria-hidden="true"></i>友情链接
   </div>

   <div class="middle-content">

    <center class="character-line">
    <div class="character-avatar"><a href="http://umi0208.github.io/" title="世界老去时我正年轻" target="_blank">
     <img style="border:4px solid rgb(100,149,237);" data-original="https://cdn.jsdelivr.net/gh/umi0208/umi0208.github.io@master/img/avatar.png"/>
    <span style="color:#fff; text-shadow:0 0 5px rgb(70,119,207);">Umi</span></a></div>

    <div class="character-avatar"><a href="https://shoka.lostyu.me" title="琉璃的医学 & 编程笔记" target="_blank">
      <img style="border:4px solid rgb(236,196,183);" data-original="https://cdn.jsdelivr.net/gh/amehime/shoka@latest/images/avatar.jpg"/>
    <span style="color:#fff; text-shadow:0 0 5px rgb(212,57,57);">霜月琉璃</span></a></div>

    <div class="character-avatar"><a href="https://www.xiangshu233.cn/" title="坚持阅读，继续前进，记住勇气、善良、和永不放弃。" target="_blank">
     <img style="border:4px solid rgb(255,192,105);" data-original="https://cdn.jsdelivr.net/gh/xiangshu233/blogAssets@0.1/assets/images/avatar.jpg"/>
    <span style="color:#fff; text-shadow:0 0 5px rgba(245,120,0,1);">乡秀树</span></a></div>
    
    <div class="character-avatar"><a href="https://allengx.gitee.io/" title=" 整天摸鱼，却妄想拯救世界的技术宅，不幸转身到异世界写下的博客。" target="_blank">
      <img style="border:4px solid rgb(62,153,159);" data-original="https://allengx.gitee.io/images/avatar.jpg"/>
    <span style="color:#fff; text-shadow:0 0 5px rgb(62,130,130);">鑫酱 (●'◡'●)</span></a></div>

    <div class="character-avatar"><a href="http://www.aomanhao.top/" title="热爱图像处理，优化彩色世界" target="_blank">
      <img style="border:4px solid #6495ED;" data-original="https://www.aomanhao.top/images/Avatar.jpg"/>
     <span style="color:#fff; text-shadow:0 0 5px #6495ED;">AomanHao</span></a></div>

    <div class="character-avatar"><a href="https://zhangxue.name" title="个人博客记二次三次日常" target="_blank">
      <img style="border:4px solid #4e7ca1;" data-original="https://zhangxue.name/blog/wp-content/uploads/2020/02/%E4%B8%9D%E8%AF%BA%E5%8D%9A%E4%BA%86%E4%B8%AA%E5%AE%A2_2048.jpg"/>
    <span style="color:#fff; text-shadow:0 0 5px #4e7ca1;">丝诺</span></a></div>

    <div class="character-avatar"><a href="https://noheart.cn" title="医不自医，人不渡己" target="_blank">
      <img style="border:4px solid #73c8e6;" data-original="https://cdn.jsdelivr.net/gh/betsyx/vlibrary/xbetsy.jpg"/>
    <span style="color:#fff; text-shadow:0 0 5px #73c8e6;">今今今生</span></a></div>

    <div class="character-avatar"><a href="https://saki.tangel.me" title="site: 水无月咲" target="_blank">
     <img style="border:4px solid #ff80ab;" data-original="https://saki.tangel.me/app/uploads/2021/02/e17675aecb31d84e35f568b5d8b36362.jpg"/>
   <span style="color:#fff; text-shadow:0 0 5px #ff80ab;">Vivid</span></a></div>
   
   <div class="character-avatar"><a href="https://www.yunyoujun.cn" title="All at sea." target="_blank">
    <img style="border:4px solid #0078e7;" data-original="https://cdn.jsdelivr.net/gh/YunYouJun/yunyoujun.github.io/images/avatar.jpg"/>
   <span style="color:#fff; text-shadow:0 0 5px #0078e7;">云游君</span></a></div>

   <div class="character-avatar"><a href="https://blog.justlovesmile.top" title="醒亦念卿，梦亦念卿" target="_blank">
    <img style="border:4px solid #008080;" data-original="https://cdn.jsdelivr.net/gh/Justlovesmile/CDN/image/logo.jpg">
   <span style="color:#fff; text-shadow:0 0 5px #008080;">MJ’s Blog</span></a></div>

   <div class="character-avatar"><a href="https://www.amazingk.cn" title="快乐地记人记事" target="_blank">
    <img style="border:4px solid #1759ac;" data-original="https://www.amazingk.cn/upload/2021/04/20210404211159-3ebb9a2454c944cfb70ef289a6b2b400.jpg">
   <span style="color:#fff; text-shadow:0 0 5px #1759ac;">Amazingk</span></a></div>

   <div class="character-avatar"><a href="https://chuxjian.asia/" title="一个记录个人生活学习的蒟蒻的博客" target="_blank">
    <img style="border:4px solid #708090;" data-original="https://pic.imgdb.cn/item/5f4752b1160a154a674f4644.png">
   <span style="color:#fff; text-shadow:0 0 5px #708090;">初 x 见</span></a></div>
   </center>
   <br><hr>

   <h2>好像失联了？</h3>
    <center>
     <div class="character-avatar" style="display: inline-flex;"><a href="https://lr.cool/" title="lr" target="_blank">
       <img style="border:4px solid rgb(20,50,7);" data-original="https://lr.cool/static/img/logo.jpg"/>
     <span style="color:#fff; text-shadow:0 0 5px rgb(20,50,7);">lr.cool</span></a></div>
         
    <div class="character-avatar" style="display: inline-flex;"><a href="https://victue.com" title="摸鱼记录 & 划水想法" target="_blank">
     <img style="border:4px solid #FFE4B5;" data-original="https://victue.com/images/avatar.jpg"/>
    <span style="color:#fff; text-shadow:0 0 5px #FFE4B5;">Li Pie</span></a></div>

    </center>

   </div>
   </div>

   <div class="sidebar-right">
    <ul class="right-nav">
     <a href="/layout/link/friends.html"><li class="list-item active">小伙伴们</li></a>
     <a href="/layout/link/exchange.html"><li class="list-item">交 换</li></a>
    </ul>
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
<script>
 $(function(){
  $("img").lazyload({
  effect : "fadeIn"
   });
  });
</script>
</html>