<!DOCTYPE html>
<html lang="zh-CN">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
  <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
  <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
  <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
  <title>游戏 | UTOPIA</title>
 </head>

 <body>
  <header>
    <div class="header-inner">
      <script>$(".header-inner").load("/layout/partial/header.html")</script>
    </div>
  </header>

  <div class="author-inner">
    <script>$(".author-inner").load("/layout/partial/author.html")</script>
  </div>

  <div class="main-inner">
   <div class="content">
    <div class="content-inner">
     <div class="sidebar-left">
      <ul class="left-nav">
       <a href="/layout/amusement/index.html"><li class="list-item">书影音</li></a>
       <a href="/layout/amusement/game.html"><li class="list-item active">游 戏</li></a>
       <a href="/layout/amusement/fanfiction.html"><li class="list-item">同人创作</li></a>
      </ul>
     </div>
    
    <div class="middle">
     <div class="middle-bar">
      <i class="fa fa-book" aria-hidden="true"></i>娱乐 - 游戏
     </div>

     <div class="middle-content">

      <h2>乙女游戏</h2>
      <div class="post-collapse">
      <ul>
       <a href="/layout/amusement/game/MonochromeWizard.html"><li><div class="post-box">
        <span class="post-date">2021-03-10</span><span class="post-name">《Monochrome Wizard～黒の讃歌、白の鎮魂歌～》</span>
       </div></li></a>
       <a href="/layout/amusement/game/LoveUnholyc.html"><li><div class="post-box">
        <span class="post-date">2020-11-28</span><span class="post-name">《LoveUnholyc》</span>
       </div></li></a>
       <a href="/layout/amusement/game/Amnesia1.html"><li><div class="post-box">
        <span class="post-date">2020-06-28</span><span class="post-name">《Amnesia》</span>
       </div></li></a>
      </ul>
      </div>
     </div>
    </div>
    <div class="sidebar-right"></div>
    </div>
   </div>
  </div>

   <footer>
     <div class="footer-inner">
       <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
     </div>
   </footer>
   <div class="back-to-top">
    <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
   </div>
 </body>
</html>