<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <title>打赏 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
     <a href="/index.html"><li class="list-item"><i class="fa fa-handshake-o" aria-hidden="true"></i>&ensp;公 告</li></a>
     <a href="/layout/index/say.html"><li class="list-item"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;动 态</li></a>
     <a href="/layout/index/reward.html"><li class="list-item active"><i class="fa fa-jpy" aria-hidden="true"></i>&nbsp;打 赏</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>要饭
   </div>

   <div class="middle-content">
    <center><h4>如果您喜欢本站的内容，欢迎给我一点鼓励~</h4>
    <div class="rewardbox" style="display:flex;width:70%;">
    <p class="img-desc"><img src="/source/imgs/reward-alipay.jpg">支付宝</p>
    <p class="img-desc"><img src="/source/imgs/reward-wechat.jpg">微信</p></div></center>
   </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
</html>