<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <title>说说 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
     <a href="/index.html"><li class="list-item"><i class="fa fa-handshake-o" aria-hidden="true"></i>&ensp;公 告</li></a>
     <a href="/layout/index/say.html"><li class="list-item active"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;动 态</li></a>
     <a href="/layout/index/reward.html"><li class="list-item"><i class="fa fa-jpy" aria-hidden="true"></i>&nbsp;打 赏</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-home" aria-hidden="true"></i>说说
   </div>

   <div class="middle-content">
    <br>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/artitalk"></script>
    <!-- 存放说说的容器 -->
    <div id="artitalk_main"></div>
    <script>
    new Artitalk({
        appId: "c2uqMIp1DJpjGkk5PsuHmw57-MdYXbMMI",
        appKey: "IpjUXH3MCmVDndyKQKfSd5qA",
        pageSize: 10,
        color3: "#020202",
        // atEmoji: {
        //  wbbaibai:  "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-baibai.png",
        //  wbdoge: "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-doge.png",
        //  wbdoge2: "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-dog2.png",
        //  wbdoge3: "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-dog3.png",
        //  wbkelian: "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-kelian.png",
        //  wbyiwen: "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-yiwen.png",
        // }
    })
</script>
   </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
</html>