/* Artitalk */
#artitalk_main {
	position: relative !important;
	right: 1.3% !important;
}

#artitalk_main	p {
		color: #000 !important;
		font-weight: 400 !important;
  line-height: 1.5;
}

#artitalk_main	img {
		margin-left: 0;
		border: 0;
		opacity: 1;
}

#artitalk_main	iframe {
		margin-left: 0;
}

#artitalk_main svg {
    cursor: pointer,auto !important;
}

#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
	line-height: 1.4rem !important;
	padding: 1px 1.2em 1px !important;
	word-break: break-all;
	word-wrap:break-word;
	margin: 0 5px 2rem 65px !important;
	background: linear-gradient(90deg,rgba(255,244,235,.8) 0,rgba(253,237,242,.8) 20%,rgba(248,239,246,.8) 40%,rgba(231,244,247,.8) 60%,rgba(233,248,244,.8) 80%,rgba(239,248,242,.8) 100%) !important;
}

#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: rgba(253,237,242,.8) !important;
}


.cbp_tmtimeline>li .cbp_tmlabel {
	padding: 1px 1.2em 1px !important;
	left: 2.5%;
	word-break: break-all;
	word-wrap:break-word;
	margin: 0 5px 2rem 65px !important;
	background: linear-gradient(90deg,rgba(255,244,235,.8) 0,rgba(253,237,242,.8) 20%,rgba(248,239,246,.8) 40%,rgba(231,244,247,.8) 60%,rgba(233,248,244,.8) 80%,rgba(239,248,242,.8) 100%) !important;
}

#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel:after {
	border-right-color: rgba(253,237,242,.8) !important;
}


#operare_artitalk .at_button, #artitalk_main .at_button {
	background: rgba(253,237,242,.8) !important;
	color: #000 !important;
	padding: .2rem .4rem !important;
	box-shadow: 0px 0px 1px rgba(15,15,15,.3);
	transition-duration: .18s;
	opacity: 0.6;
}
	
#operare_artitalk .at_button, #artitalk_main .at_button:hover {
		background: rgba(248,239,246,.8) !important;
		opacity: 1;
		cursor: pointer,auto !important;
}
	
#operare_artitalk .at_button:active, #artitalk_main .at_button:hover:active {
		opacity: 1;
}

#artitalk_main #shuoshuo_edit textarea {
	cursor: text,auto !important;
}

#artitalk_main #shuoshuo_content {
	padding: 0 !important;
}

#artitalk_main .power {
	line-height: 1.2rem;
}

#artitalk_main .power a {
	font-size: 1em !important;
	cursor: pointer,auto !important;
}

#artitalk_main p.shuoshuo_time {
	border-top: 1px dashed rgba(0,0,0,0.3) !important;
 line-height: .9;
}

#artitalk_main .shuoshuo_author_img img {
	height: 4em;
	width: 4em;
	position: relative;
	bottom: .8rem;
	right: .5%;
}

	
@media all and (max-width: 810px) {
 #artitalk_main .shuoshuo_author_img img {
  height: 3.6em;
  width: 3.6em !important;
  left: 5px;
  right: 0;
  bottom: .7em;
 }
}

@media all and (max-width: 500px) {
 #artitalk_main .shuoshuo_author_img img {
  display: none;
 }

 #artitalk_main .cbp_tmtimeline>li .cbp_tmlabel,
 #artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
  margin: 0 0 2rem !important;
 }
}

#artitalk_main .shuoshuo_text {
	width: 93% !important;
	border: 1px solid #000 !important;
	font-weight: 400 !important;
 font-size: 16px !important;
 font-family: NotoSerifSC-Regular, sans-serif !important;
 color: #000 !important;
	background-image: url(/source/imgs/saybg.png) !important;
}

#artitalk_main .shuoshuo_inputs {
	border: 1px solid rgba(0,0,0, 0.4) !important;
	border-radius: 6px !important;
	font-weight: 400 !important;
	cursor: text,auto !important;
}