@media all and (max-width: 1160px) {
 .author {
     width: auto;
     padding: 0 5em;
 }

 .author-meta {
     left: 14em;
 }

 .main-inner {
     margin: 0;
     padding: 0;
     width: auto;
 }

 .middle {
     width: calc(100% - 200px);
 }
}

@media all and (max-width: 810px) {
 .author {
  padding: 0 1em;
 }

 .author-meta {
     left: 10em;
 }

 .sidebar-left {
  min-height: 46px;
  position: absolute;
  width: 100%;
 }

 .sidebar-left ul {
     padding: 5px 0;
 }
 
 .left-nav, .left-nav li {
  float: left;
  padding: 2px 0;
  width: 70px;
 }

 .left-nav {
  width: 100%;
 }

 .left-nav i {
     display: none
 }

 .middle {
  position: relative;
  top: 42px;
  width: 100%;
  margin: 5px 0 2em 0;
 }

 .middle-content {
  padding: 2em 1em 5em;
 }

 .middle-content img {
  width: 100% !important;
 }

 .sidebar-right {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
 }

 .sidebar-right ul,.sidebar-right li {
  float: left;
  top: 0;
  padding-top: 0;
  z-index: 10;
 }

 .sidebar-right li {
  width: 70px;
 }

 .footer-inner {
  margin: .8em 0 0;
 }

 #mobile-menuicon {
  display: inline;
  font-size: 20px;
  position: absolute;
  right: 1em;
  top: .8em;
  cursor: pointer;
  color: rgba(255,255,255,.82);
  transition-duration: .2s;
 }
 
 #mobile-menuicon:hover {
  color: #fff;
 }

 .mobile-hidden {
  display: none;
 }

 .nav-first li{
  float: none;
 }

.nav a:hover {
 box-shadow: none;
 }

 .nav ul {
  position: fixed;
  margin-left: 0;
  width: 100%;
  top: 45px;
  padding-bottom: 10px;
  background-color: rgba(0,0,0,.9);
  text-align: center;
 }

 .nav-first li {
  width: 100%;
  text-align: center;
  background: transparent;
 }

 .nav-second ul {
  position: relative;
  top: 0;
  background: transparent;
  opacity: .85;
  text-shadow: 0 0 5px rgba(255,255,255,.5);
 }

 #li_3 {
  position: relative !important;
  right: 0 !important;
 }

 .random-links {
  right: 4.5em;
  width: 0;
 }
}

@media all and (max-width: 500px) {
 .author img {
   width: 100px;
   height: 100px;
 }
 
 .author-meta {
  left: 8.5em;
  margin-right: 1em;
 }

 .author-name {
  font-size: 22px;
 }

 .left-nav li{
  width: 60px;
 }

 .middle-content {
  padding: 2em 8px 5em;
 }
}