.boxline {
 list-style: none;
 padding-left: 0 !important;
}

.boxline h3 {
 text-align: center;
}

.box {
 padding: 1.5em 2.2em;
 margin: 1.5em 0;
 box-shadow: 0 0 5px rgba(0,0,0,0.4);
 transition-duration: .2s;
}

.box:hover {
 box-shadow: 0 0 10px rgba(0,0,0,.7);
}

.box > ul {
 list-style: none;
 padding-left: 0;
}

.character-line {
 display: inline-flex;
 flex-wrap: wrap;
}

.character-avatar {
 margin: auto;
 padding: 0 1em;
}

.character-avatar img {
 height:8em !important;
 width: 8em !important;
	object-fit: cover;
 border: 2px solid var(--base-color-black);
 opacity: .8;
 transition-duration: .2s;
 border-radius: 50%;
}

.character-avatar img:hover {
 opacity: 1;
}

.post-collapse > ul {
  list-style: none;
  line-height: 2.2em;
  column-count: 2;
}

.post-collapse li {
 overflow: hidden;
}

.middle-content > .post-collapse a {
  text-decoration: none;
  color: #000 !important;
}

.post-box {
 padding: 0 17px 0 25px;
 transition-duration: .2s;
 border-radius: 4px;
 overflow: hidden;
 text-overflow:ellipsis;
 white-space: nowrap;
 width: 80%;
 height: 2.2em;
}

.post-box:hover {
  padding: 0 17px 0 30px;
  color: var(--base-color-white);
  background-color: rgba(15,15,15,.9);
  box-shadow: 0 0 2px rgba(15,15,15,.5);
  border-radius: 4px;
}

.post-box > .post-date {
  opacity: .6;
}

.post-box > .post-name {
  margin-left: 1.5em;
}

.post-box > .post-name::before {
  margin-left: 20px;
}

.middle-content img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 70%;
 border: 1px solid var(--base-color-black);
}

.img-desc {
 text-align: center;
 line-height: 1.2em;
 font-size: 14px;
 margin-block-start: 0;
}

.middle-content a {
 color: rgb(65,105,225);
 text-decoration: none;
 transition-duration: .2s;
}

.middle-content a:hover {
 color: rgb(106,90,205);
}

.middle-content ul,.middle-content ol {
 padding-left: 15px;
}

.post-meta {
 text-align: center;
 font-size: 13px;
 padding-bottom: .7em;
}

.post-meta-item {
 margin: 0 7px;
}

.post-meta-item i {
 font-size: 12px;
 position: relative;
 bottom: 1px;
}

.post-copyright {
 font-size: 15px;
 border: 1px dotted #000;
 padding: 0 2em;
 margin-top: 3.5em;
 line-height: 1.6em;
}

@media all and (max-width: 500px) {
 .post-collapse > ul {
  column-count: 1;
 }
 .post-box {
  padding: 0 17px 0 5px;
 }

 .post-box:hover {
  padding: 0 17px 0 10px;
 }
}

p.tag {
	font-size:13px;
 padding-top: 3px;
	margin-top: 40px;
	text-align: center;
 line-height: 1.3em;
	border-top: 1px solid rgba(0,0,0,0.2);
	opacity: 0.85;
 margin-block-end: 0;
}


@media all and (max-width: 500px) {

 .link-box > .box h3 {
  font-size: 17px;
  width: 5em;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
 }
}