<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>友链 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout"><li class="list-item">返 回</li></a>
    </ul>
   </div>

   <div class="middle">
   
   <div class="middle-bar">
    <i class="fa fa-" aria-hidden="true"></i> - 
   </div>

   <div class="middle-content">
    <h1>友情链接</h1><br/>

    <center>
    <a class="link-box" href="http://umi0208.github.io/" title="site: 世界老去时我正年轻" target="_blank">
     <div class="box">
     <div class="img-box"><img style="border:2px solid rgb(100,149,237);cursor:pointer" src="https://cdn.jsdelivr.net/gh/umi0208/umi0208.github.io@master/img/avatar.png"/></div>
    <h3 style="color:#fff; text-shadow:0 0 5px rgb(70,119,207);">Umi</h3></div></a>

    <a class="link-box" href="https://shoka.lostyu.me" title="site: 優萌初華" target="_blank">
     <div class="box">
      <div class="img-box"><img style="border:2px solid rgb(236,196,183);cursor:pointer" src="https://cdn.jsdelivr.net/gh/amehime/shoka@latest/images/avatar.jpg"/></div>
    <h3 style="color:#fff; text-shadow:0 0 5px rgb(212,57,57);">霜月琉璃</h3></div></a>

    <a class="link-box" href="https://www.xiangshu233.cn/" title="site: Re Life" target="_blank">
     <div class="box">
      <div class="img-box"><img style="border:2px solid rgb(255,192,105);cursor:pointer" src="https://cdn.jsdelivr.net/gh/xiangshu233/blogAssets@0.1/assets/images/avatar.jpg"/></div>
    <h3 style="color:#fff; text-shadow:0 0 5px rgba(245,120,0,1);">乡秀树</h3></div></a>
    
    <a class="link-box" href="https://allengx.gitee.io/" title="site: 鑫酱个人博客" target="_blank">
     <div class="box">
      <div class="img-box"><img style="border:2px solid rgb(62,153,159);cursor:pointer" src="https://allengx.gitee.io/images/avatar.jpg"/></div>
    <h3 style="color:#fff; text-shadow:0 0 5px rgb(62,130,130);">鑫酱</h3></div></a>

    <a class="link-box" href="https://lr.cool/" title="site: lr.cool" target="_blank">
     <div class="box">
      <div class="img-box"><img style="border:2px solid rgb(20,50,7);cursor:pointer" src="https://lr.cool/static/img/logo.jpg"/></div>
    <h3 style="color:#fff; text-shadow:0 0 5px rgb(20,50,7);">lr.cool</h3></div></a>

    <a class="link-box" href="http://www.aomanhao.top/" title="site: AomanHao的博客空间" target="_blank">
     <div class="box">
      <div class="img-box"><img style="border:2px solid #6495ED;cursor:pointer" src="https://www.aomanhao.top/images/Avatar.jpg"/></div>
    <h3 style="color:#fff; text-shadow:0 0 5px #6495ED;">AomanHao</h3></div></a>
   </center>

    <br><br>
    
    <h2>友链交换</h2>
    
    <center>欢迎交换友链！<br><br>只与个人博客交换友链，请确保您的站点可以稳定访问。<br>最好强制开启了https。<br>我会时常访问您，也会清除一些死链和未将本站加入友链的站点。<br>当然，等您的问题解决后，您可以告知我或者重新申请。</center>
    
    <h3>表格</h3>
    <p>将本站添加入您的友链后，请告诉我以下信息：</p>
    
    <ol>
    <li>您的昵称: </li>
    <li>您的avatar: ##请以url形式告诉我，或者我将直接使用您站点中的头像链接</li>
    <li>站点名字: </li>
    <li>站点地址: </li>
    <li>一个喜欢的颜色: </li>
    </ol>
    
    <h3>本站信息</h3>
    
    <ul>
    <li>站主: UkiHG</li>
    <li>avatar: https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/imgs/avatar.jpg</li>
    <li>站点名称: UTOPIA</li>
    <li>站点地址: https://ishya.top</li>
    <li>站点描述: 散落在世界一角的故事</li>
    <li>颜色（如果您的页面需要的话）:  "#48d1cc"</li>
   </ul>

    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '3coGOW2AVL6yq8neXTLNk2zJ-MdYXbMMI',
            appKey: 'gNIKPAHjt79p0SfOOrKFlNg7'
        })
    </script>
   </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
</html>