<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="/lib/lazyload/jquery.lazyload.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <title>Amnesia失忆症 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/amusement/game.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>乙女游戏 - Amnesia失忆症
   </div>

   <div class="middle-content">
    <h1>- Amnesia失忆症 -</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2020-06-28</span> | <span class="post-meta-item"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>更新于 2020-07-10</span>
    </div>
     <p>《Amnesia失忆症》，久仰其大名。作为一个没有PSP/PSV、又懒得在NS上啃日语生肉的人，最终在PPSSPP上玩到了这款著名的乙女游戏。</p>
     <p>不得不说，太香了，肝得我废寝忘食。等汉化出了或者我会日语了我火速补票。<del>上一次买正玩盗还是Steam上的Victoria，还是语言障碍，无语，我太菜了。</del></p>
     <ul>
     <li><strong>文章含剧透内容。</strong></li>
     <li>可能会有令人不适的评价。</li>
     </ul>
     <h2>Amnesia</h2>
     <p>很喜欢《Amnesia》的节奏。很多乙女游戏都是第一章男女主初遇，然后因为乙女游戏一条线的篇幅通常不会很长，所以总是会给人一种“这进展也太快了吧”、“这爱上得也太莫名其妙了吧”的感觉，但是《Amnesia》的故事直接从两人已经开始交往、男主已经喜欢上女主的时候开始，之后男主表白完全不会有很突兀的感觉。人物也不纸片，至少不会让我觉得“我明白，你想说这男人很有魅力，但是我实在没从什么剧情get到他有和你叙述得相匹配的魅力”。</p>
     <p>以及Orion……是让主角有理由一直哑下去的吐槽役啊！<del>苏谛斯是你吗苏谛斯</del></p>
     <h3>IKKI线·BE2</h3>
     <p>我玩乙游的习惯是一周目盲打，然后疯狂踩雷走向其中一个BE，之后再按照攻略把全部GE收到，如果同时有GE和完美结局的话两个都会收。NE和其余BE一般直接无视，几条线玩下来后无感的男主也直接无视，毕竟我玩游戏是为了快乐看女主和心水男人的甜甜恋爱，如果女主性格合我心意有时还会当oc代餐，所以看不够快乐的剧情还是算了，我也并没有很强烈的填充Gallery的欲望（是叠纸治好了我的强迫症）。</p>
     <p>……于是一周目盲选走进IKKI线的我，受到了精神冲击。</p>
     <p>会走向BE也完全是因为我疯狂踩雷没刷他好感，但是要我对一个我刚拿到这游戏不到20分钟就对其他女生说出“让她（女主）多等等也没有问题”，说好半小时却让女主应该已经等了要两小时了吧？这样的话的男人刷好感，我做不到啊，哪怕在BE2里他说“这是为了从那些人手里保护你（女主）”。就算是因为是我抗拒和IKKI刷好感才走向这种结局，我也完全没法理解这种行为。</p>
     <p>他全部甩锅他的吸桃花体质，女主能理解，我不能理解。第一次见面就不守时不守信的男人，我直接在心中给他划了个巨大的叉。会耐着性子玩下去完全是因为想看看是不是有什么隐情和秘密，在剧情进展的同时我发现其他的男主一个比一个香。</p>
     <p>到8月20号这天我毫无选择地参与了试胆大会（是后来看到攻略才知道有得选择的，确实，毕竟只要去了试胆大会怎么选都是死）</p>
     <p>IKKI线我连HE都不想刷，会以“这是为了从蛇蝎女人手中保护你”为由而当着你的面拒绝你的邀约、答应蛇蝎女人让你在你的众多情敌面前难堪的男人（也许是因为当时好感度不够吧，不太清楚我没收HE），要不是拥有三维人对二维人的上帝视觉、要不是知道这是纸片人所以是真心爱女主的，有一说一，这种男人简直不可理喻。</p>
     <p>至少不符合我的恋爱观。</p>
     <p>通了IKKI线的晚上我觉得我浪费了我在阳间的五小时，于是我找左麒疯狂吐槽，真的会有女生喜欢这种桃花遍地还不避嫌的男生吗？以我浅薄的认知我觉得可能有两点理由，第一这个男生是真的帅，帅到可以让你放弃一切，其次他有才华，但首要因素还是帅；第二是女生很享受某些霸总小说里女主那种顶天立地的虐渣感，对在众多恶毒女配中自己才是被青睐的那个正主这种情节感到满足，当然重点还是男生很帅，毕竟不帅的话会有遍地桃花的几率还是大大下降。</p>
     <p>可能因为我对IKKI的第一印象很差劲吧……当时IKKI喝醉对着女主一顿倾诉的时候我满脑子都只有：你这说的什么鬼话。“我一直觉得女生只是用来玩乐的道具……（大概是这个意思）”就冲这句话不论之后他是怎么解释自己是因为女主才改变的都无法说服我。</p>
     <p>之后玩了其他线，看到其他线的IKKI后，感觉我要是一周目没走这条线，也许对他印象不会这么差的……而且还是能解数学题的男人啊。妈耶。</p>
     <p>Later应该还有他吧，我还是会去走一走的，毕竟是我这部作品的第一个男主，说不定我一周目盲选还是会选中他呢，哈哈。如果还是像这一部一样这么盲选的话。</p>
     <p>他跟女主独处时还是很甜的。</p>
     <p class="img-desc"><img data-original="https://hexo-1302421215.cos.ap-shanghai.myqcloud.com/amnesia1.png" alt="IKKI">IKKI</p>
     <h3>SHIN线·GE</h3>
     <p>IKKI线BE后我毅然决然读档冲向SHIN线，然后发现IKKI线简直容纳了整个游戏的所有恶意，所有人都是你情敌，不仅是你情敌还一个个都在刺激你，在你这个正牌女友前宣告IKKI不是你一个人的。我就奇了怪了，我全身上下疯狂迷惑。所见NPC都是你情敌，你的友人也很疑惑，你怎么就和他交往了啊，他这样你能忍？不，我不能忍，我宇宙第一无语。而且店长也超凶，555555555QAQ</p>
     <p>SHIN线开场暴击！而且一上来就看破女主失忆，后来他把食物弄到RIKA鞋上时我也瞬间感慨。</p>
     <p>SHIN线一路CG数量爆表，相比IKKI线的女主不仅什么都要自己扛还要在各种意义上状态都很糟糕的情况下抵抗来自四面八方的恶意、只有Orion一个小天使（虽然Orion也对女主选男人的眼光表示怀疑），SHIN线女主在恋爱方面唯一受过的委屈大概就是被SHIN毒舌了，如果这也算是委屈的话（SHIN明明就是刀子嘴豆腐心）。RIKA也不针对女主，MINE从一开始就很可爱，店长也非常可爱非常亲切，还有两个男人为女主打架的场景，我该说不愧是长期位于封面C位的亲儿子吗！</p>
     <p>SHIN线很有意思的是对青梅竹马恋爱的描写，以前看过的剧情基本是“青梅竹马比不过天降”，偶尔看到的青梅竹马甜文也没有深刻地讨论过这个问题：一个知道你的所有弱点，知道你做过的所有糗事、知道你出过的所有丑，在心目中已经是“哥哥” “弟弟” “姐姐” “妹妹”这样家人一般的存在，如何改变自己对他/她从小时候就开始形成的、根深蒂固的固有印象，转而成为恋人。</p>
     <p>我比较不太爱看书，就算是网文也基本会直接Pass掉青梅竹马爱情小说。这还是我第一次见到这么描写青梅竹马之间的恋爱的。女主说“可是我还没有把你看成男人”，SHIN回“我会做出让你只能把我看成男人的事”的时候，我其实，emmmmmmmmmmmm，想歪了。</p>
     <p>其实我不太喜欢年下，哪怕只是这样小半岁的年下，而且还是我向来不感冒的青梅竹马设定。但是走完SHIN线我直呼真香，看到GE的CG我瞬间上头，这也！！太！！！好了！！！！！！！<del>那么请问哪里可以看到两人的R18</del></p>
     <p>写到这里的时候，我打通了IKKI线BE2、SHIN线HE和KENT线HE，只有SHIN在烟火大会那天成功和女主观赏到了烟花，笑死。说到这里我又忍不住批判IKKI，KENT那情况我都还能理解，IKKI你真的，**，脏话！</p>
     <p class="img-desc"><img data-original="https://hexo-1302421215.cos.ap-shanghai.myqcloud.com/amnesia2.png" alt="SHIN">SHIN</p>
     <p>感觉SHIN是我目前在《Amnesia》里最喜欢的男主。不过过了SHIN线后我有点没法面对TOMA线，嗨。其实因为SHIN太好了我都有点不打算再打下去了qwq但是还是很想走走隐藏线。噢，平行世界、平行世界，TOMA线的TOMA既是SHIN线的TOMA，又不是SHIN线的TOMA（恍惚）</p>
     <h3>KENT线·GE</h3>
     <p>KENT线，充满了奇怪的哲理！</p>
     <p>所以KENT线就是个真香实录（？）一个对恋爱毫无经验甚至持有以上想法的理科男笨拙地一点点学习模仿恋爱的方式，感觉对于对爱情充满幻想的女孩子来说这个人的行为绝对相当震撼。不过两人起初的相处模式我觉得还好，在同一个房间里互不打扰看书学习这个场景绝对会令我心动qwq</p>
     <p>看到他真的要我做十道数学题我当场傻了，作为一个在家里宅了六个月已经失去思考能力的废物表示瑟瑟发抖，原来《Amnesia》还是个学习软件，爱了爱了，LR大法好。<del>我也好想要一个能监督并且教我数学的男朋友</del></p>
     <p>KENT在听到精灵的事后对女主说“我相信你，因为有几个理论依据可以支撑”的时候我觉得他简直，又会思考又有耐心。对我来说这条线不像其他线那样有什么令情绪大起大落的剧情，很平静但是很甜美，充满理科生的浪漫。不过有些理论我是真看不懂，毕竟我是个笨蛋_(:з)∠)_</p>
     <p class="img-desc"><img data-original="https://hexo-1302421215.cos.ap-shanghai.myqcloud.com/amnesia3.png" alt="KENT">KENT</p>
     <p>然后其实我对MINE印象不差，现实中和这样的人来往还算挺幸运了，毕竟非常坦率，对你的不喜欢是露骨的不喜欢，不是两面三刀或是直接上手的不喜欢。这条线的MINE我一个爆笑，情绪来得也快去得也快的女孩子。</p>
     <p>结局在以为KENT真的为了女主放弃留学时我还是有点小失望的hhhhh也许这件事看起来挺浪漫，但是也挺恋爱脑。不过后面看到KENT并没有放弃我又活了。因为担心女主所以暂时放弃留学机会，之后两人携手一起走向更好的未来，这才是浪漫！！！</p>
     <p>在教室里那张CG让我第一次看清KENT到底穿了个啥，这个视觉冲击力，有点……为什么，为什么会有这么多皮带啊！</p>
     <h3>TOMA线·GE</h3>
     <p>为了打到隐藏线，我继续走第四个世界。又是一条青梅竹马线~TOMA线的TOMA，简直比SHIN线的TOMA还要刺激！！感觉和SHIN线相反，这条线是女主被当妹妹（其实并不是，TOMA只是在演女主）。</p>
     <p class="img-desc"><img data-original="https://hexo-1302421215.cos.ap-shanghai.myqcloud.com/amnesia4.png" alt="TOMA">TOMA</p>
     <p>女主心真的挺大的（）小天使女主！不过说实话感觉TOMA线好水，连“剧情需要”都掩盖不住的水啊，起初三天住院住过去了，中途几天直接睡过去了，然后又被囚禁囚禁过去了，连GE都26号就结束了，简直了！</p>
     <p>感觉自己不是特别吃黑化的TOMA，还是像大哥哥一样的TOMA好啊哈哈哈哈哈哈，不过也算是合情合理，“被囚禁的公主”这种形容词简直让我瞬间装上了oc滤镜，除了一直在水时长以外最后也是非常甜的~</p>
     <p>然后这条线的IKKI也相当好啊。</p>
     <h3>IKKI线·GE</h3>
     <p>然后我发现我必须把四条线的GE都打出来才能进隐藏线……于是我按照攻略推了IKKI的GE，基本全程快进（）不过GE的IKKI行为让人感觉舒服多了，虽然我还是觉得，他竟然怕他的FC成员欸，好怂啊！hhhhhhhhh</p>
     <p>啊，其实是个很暖又专一的人啊QAQ感觉有心情推续作的IKKI线了，虽然一开始真的很想打他。</p>
     <p class="img-desc"><img data-original="https://hexo-1302421215.cos.ap-shanghai.myqcloud.com/amnesia5.png" alt="IKKI">IKKI</p>
     <h3>UKYO线·GE</h3>
     <p>没想到啊，没想到啊，UKYO竟然是这样的属性吗！他好柔弱啊（？</p>
     <p>串起了整个故事的一条线，Orion在隐藏线才初次讲出了“尼尔大人”的时候我就知道绝对！绝对不简单哈哈哈哈哈哈！不过感觉这条线的GE是最没有恋爱感的一条线，很沉重，爱得这么执着的男人也是不可多得了（？）最后GE了真是太好了qwq有时候会觉得纸片人的双重人格什么的来得很莫名其妙，为爽而爽，但UKYO这个就还挺合理。</p>
     <p>话说这条线的RIKA怎么瞬间这么友善，有点不可思议（震撼.jpg）不过这条线大家都很友善，除了那三位没有眼睛的女生。不过除了UKYO也都没怎么出现就是了。</p>
     <p class="img-desc"><img data-original="https://hexo-1302421215.cos.ap-shanghai.myqcloud.com/amnesia6.png" alt="UKYO">UKYO</p>
     <p>最近突然发现长发男（纸片）人很能戳我点，绝了，难道是因为大女儿的男人设定终于出来了导致我又装上了oc滤镜吗（陷入沉思）</p>
     <p>最后尼尔和Orion出现的时候我简直要感叹神仙游戏了。没玩到过隐藏线，觉得能把攻略顺序和整个设定贴合起来的这种剧情简直太棒了吧，难道乙游都是这样的吗（）之前虔诚之花的晚钟没打完所以不太清楚欸。以后坚持多把游戏打完应该就知道了，笑死，对不感兴趣的男主可以善用快进。</p>
     <p>去冲续作了，听说是糖，快乐！</p>
    <div class="post-copyright">
     <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
    </div>
   </div>
   </div>

   <div class="sidebar-right">
    <ul class="right-nav">
     <a href="/layout/amusement/game/Amnesia1.html"><li class="list-item active">Amnesia</li></a>
     <a href="/layout/amusement/game/AmnesiaTV.html"><li class="list-item">番 剧</li></a>
    </ul>
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
<script>
 $(function(){
  $("img").lazyload({
  effect : "fadeIn"
   });
  });
</script>
</html>