<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <title>Amnesia失忆症 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/amusement/game.html"><li class="list-item">返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>乙女游戏 - Amnesia失忆症
   </div>

   <div class="middle-content">
    <h1>- Amnesia失忆症 -</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2020-07-01</span>
    </div>
     <h2>Amnesia TV</h2>
     <blockquote><p><a href='https://www.bilibili.com/bangumi/play/ep83471' target="_blank">【Bilibili番剧】失忆症</a></p>
     </blockquote>
     <p>为了会动的SHIN去的，还没看完，看完再说。</br>
     评分在b站来说不算高啊，可能游戏导致观众期望值太高吧。以前看见有人推荐推理番的时候会推荐到Amnesia，现在看来有点神奇，哪里推理了（迷茫）</p>
     <p>TV把几个平行世界的女主合在一起了，像快穿一样。这么一改反而KENT线就变得好虐啊55555555然后女主变成撩了就跑型，就很好笑。</p>
    <div class="post-copyright">
     <p>本文作者: Uki<br/>
     作者站点: https://ishya.top/<br/>
     版权声明: 本博客所有文章除特别声明外，均采用 &copy;BY-NC-SA 许可协议，转载请注明出处。</p>
    </div>
   </div>
   </div>

   <div class="sidebar-right">
    <ul class="right-nav">
     <a href="/layout/amusement/game/Amnesia1.html"><li class="list-item">Amnesia</li></a>
     <a href="/layout/amusement/game/AmnesiaTV.html"><li class="list-item active">番 剧</li></a>
    </ul>
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
</html>