<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>レオ、我的天使—— | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/amusement/game.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>乙女游戏 - レオ、我的天使——
   </div>

   <div class="middle-content">
    <h1>レオ、我的天使——</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2021-03-10</span> | <span class="post-meta-item"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>更新于 2021-03-13</span>
    </div>
    <p>挖坑，证明我已经开始玩了（？</p>
    <p>填坑前感想：
     <br/>1. 画风好看，但CG好少，55555555。
     <br/>2. 恋爱桥段比较老套，基本可以猜到接下来会发生什么。
     <br/>3. 音乐没有做那种无限循环的衔接？导致我经常觉得愉快的气氛要结束了()
    </p>
    <p>……感觉好像没说什么优点，优点就是没有辜负我因画风而产生的期待以至于我直接挖坑准备写感想233333</p>
    <p class="img-desc"><img src="https://static.wixstatic.com/media/0c6317_705e4b3a2e6b42d49b930e79e366c939~mv2.jpg/v1/fill/w_2000,h_1012,al_c,q_90/%E3%83%88%E3%83%83%E3%83%97.webp" alt="Monochrome Wizard～黒の讃歌、白の鎮魂歌～">Monochrome Wizard～黒の讃歌、白の鎮魂歌～<br>嫌麻烦直接用的<a href="https://www.monochromewizard.com/" target="_blank">官网<i class="fa fa-external-link" aria-hidden="true"></i></a>图床，加载不出来的话需要科学上网。</p>
    <br><blockquote><p>我并不是很会日文，基本就是靠的翻译器。尤其他们一开始科普世界观我就脑阔疼，所以有些情节理解可能有偏差（甚至根本没理解）。因为并不熟悉日语输入法怎么用+我懒得一直切输入法，所以之后就只标注一次游戏中人名，然后全部自行切换成英文名（非官方）。<br>……对不起我太菜了。最近在系统地初学日语，希望之后有所长进吧。</p></blockquote>
    <br>
    <center><p><b>- 以下内容剧透注意 -</b></p></center><h2>Leo（レオ）线攻略感想<br><sup style="font-size:14px;opacity:.7;">2021.03.13</sup></h2>
    <p>女主花恋（读起来好像可怜）（可更改）的父亲是杀人犯，父亲杀完人又自杀后她和她的母亲一直活在来自众人的身心侮辱下。后来母亲上吊自杀，给女主留下了很深的心理阴影，并且只留下她一个人在校园被排挤被凌辱。女主因此变得极度自卑，觉得所受的一切都是因为自己的错，渐渐失去了摆出各种表情的能力。</p>
    <p>但是女主，长得很好看，嗯，怎么可以少了这个前提呢？只是在原来的世界有点营养不良。</p>
    <p>因为经济方面以及上述各种原因女主觉得自己不会升学，也没有未来。没有挂念、没有羁绊也没有未来，穿越前提有了。穿越的契机是她想从不良的手下救出自己唯一的伙伴——幼犬小黑（クロ）。她认为自己对他人的善意是为了满足自己，这点在后续的事件中也有被强调。其实这点我还是很赞同的，人类爱他人的本质都是爱自己，但是因为女主这么解释了反而对她好感度一顿乱Up，而且她做了善事是客观事实。</p>
    <p>然后女主就在神明的帮助下穿越了，在负伤的情况下遇到两位男主William（ウィリアム）和Leo（レオ），他们<i>竟然</i>讲的不是日语！太难得了我的天呢！但是有魔法所以没关系，一施法后男主们瞬间有了CV，好耶ヽ(✿ﾟ▽ﾟ)ノ
     <br/>不过这里的设定是双方只能理解到两个世界都存在的东西的意思，专有名词还是无法互相理解到，比如地名什么的。
    <p>因为这个世界里曾经也在这一天有异世界的人到来，以及女主非常理智，所以三人都很快接受了穿越这个设定。William对女主表现出强烈的兴趣（也可能只是在想是不是间谍），女主没有当场被两位穿着军服的人做掉。回去的中途因为女主释放了白炎魔法于是很顺利加入了第一魔法军团，并且洗清了嫌疑，故事就开始了。</p>
    <p>看到主角团遇难我马上就明白了是时候让女主的异能觉醒了！还一定要是可以力挽狂澜的那种！</p>
    <p class="img-desc"><img style="width:20em;border-radius:50%;"src="https://static.wixstatic.com/media/0c6317_53e23a83e7d843d9a048c4a2ea50ba48~mv2.png/v1/fill/w_375,h_388,al_c,lg_1,q_85/%E3%83%AC%E3%82%AA%E7%AB%8B%E7%B5%B52.webp">レオ，图片来自官网。</p>
    <p>虽然Leo和最初看到宣传图片时的印象有点不太一样，但是我依然对他充满了好感，于是走了Leo线。共通线选项还是非常明显的。</p>
    <p>然后这条线Leo就在疯狂滥用职权啊喂！上一秒还在训斥部下对女主这样那样，下一秒自己就上了！</p>
    <p>Amelia（アメリア）出场的时候我其实还挺担心她是那种情敌角色的？后来我才意识到了有立绘的都是对主角来说毫无攻击性的角色，没有立绘的那种角色无一例外都是(主角视角的)坏蛋！一开始因为Harrison我还在想是不是判断错误，只是懒得画而已，结果最后Harrison的结局emmm，还真的是啊。（但那一段我是真的看哭了，CV老师太强了）</p>
    <p>以及Leo一上来就送那么贵重充满意义的宝石进展也太快了吧救命，共通线的选项给你的刺激好像很不小耶？？</p>
    <p>我真的没有想到Leo居然是这种金毛(?)属性的人，看宣传图怎么都想不到啊，一度觉得宣传图OOC了吧，但是后来一不小心走进嫉妒路线我发现我错了，对不起。</p>
    <p>说到嫉妒路线……我玩乙游真的不喜欢看BE，结果我却是个了不起的BE天才。就像这次只是顺着自己的观点选了一下，觉得只有爱情不会让两个人长久的，Angela说的很有道理啊——所以那种会听信恶毒女配谗言的人是真的存在的（指了指自己）——结果一顿操作感觉气氛不太对，“我已经放弃在言语上说服你了”，因为这句话嗅到了车的味道所以没有立刻读档。BE有车看！赚了！</p>
    <p>事后Leo进入贤者时间后颤抖地说“我这样和那个家伙有什么区别”，突然就想到以前和左麒讨论的，小时候被家暴的女生很容易找个家暴的男生当对象、父亲出轨的男生自己未来也很容易出轨，觉得写的真好，不爱看BE的我其实错过了很多优秀的剧情吧。但我就是不爱看BE呜呜呜，或者说事到如今这也不能算BE了，都说了嘛，<b>嫉妒路线</b>，不是BE。<br>顺便再次感叹，CV老师太强了。</p>
    <p>我后来寻思了一下，女主有强力的白炎魔法，如果真的在战斗中立功了怎么会没有钱没有地位啊？还是很般配的好吗。</p>
    <p>Angela出场后一直非常自卑以及在恋爱方面少根筋的女主才意识到自己喜欢Leo大人啊。Leo追上因为吃醋跑走的女主后按在墙上就是一段舔耳，游戏没有asmr真的太遗憾了qwq之后就是各种约会逛街，在街上Leo完全没有否定街坊说自己找了女朋友的事情。回去后在小花园里求婚，介绍了自己的身世：
     <br>他名义上的父亲是个落魄贵族，而自己是迷恋自己母亲的某位高权重的男人的孩子，他的养父因此憎恶他的生父。他小时候一直不知道所以一直努力学习各种知识，尝试着讨并不喜欢自己的养父的欢心，但养父却越来越讨厌他，只给他和母亲吃剩饭之类的。后来养父知道母亲一直拿着自己生父的钱来救济落魄的家庭，于是烧了自己的家。那场火灾中只有Leo一个人存活，他也觉醒了白炎能力。</p>
    <p>后来成长线在与帝国交锋的时候我才知道Leo生父就是前任国王……我完全没有猜到……（也有可能是因为我看不懂日语所以错过太多线索了）Leo的母亲是前任国王的初恋，而前任国王的正室、现任国王Edward（エドワード）的生母和侧室、William的生母都是政治联姻。国王是不允许自由恋爱的，于是趁着Leo的养父不在国内（好像是的，反正就是不在）强迫了Leo的生母。而为了从正室和侧室的夺位战中保护初恋所生的Leo，William也是到后来才知道Leo是自己同父异母的弟弟。Leo生母Kristina（クレスティーナ）的忠实仆人，就是前文提到的Harrison（ハリソン）对Leo的母亲也有特殊的感情，他想杀了Edward和William让Leo夺得王位，他觉得女主的存在也是妨碍，因此也想杀了女主。
     <br>“想象和Kristina长得一模一样的你坐在王位上的样子……是我唯一的幸福时光。”</p>
     
    <p>这……我还能说什么呢，就说一句请父权原地爆炸吧？
     <br>看看把包括国王在内的各位孩子逼成什么样了都。</p>
    <p>成长路线里他们与帝国交战，交战前他们竟然还在开、舞、会，国王30岁诞辰舞会？！本来想吐槽一下……但转念一想要我来写的话我就直接写边疆在打仗的同时贵族在宫廷开舞会，原谅了。但是还是有点不一样，这个贵族也是要战斗的哦？？！并不是那种朱门酒肉臭路有冻死骨的感觉？！<br>（有什么关系吗，本女神后裔在阿德剌斯忒亚帝国攻打前夕不也在加尔古·马库修道院钓鱼吗。）</p>
    <p>然后这个战争吧……呃……好吧，恋爱游戏而已，真要打仗打太久男女主都不进展一下估计我也会不满……但是在战斗里的恋爱剧情是Leo要和国王Edward去敌方阵营为我方俘虏开路，于是他拿了块据说是非常稀有的、国家珍宝级的魔法封印宝石把女主的魔力给封住了，理由是“希望在原来的世界里有着悲惨的过去的你能在新世界幸福地活下去”。然后这里有一条分歧就是女主说要不干脆我们一起逃吧和不要夺走我的家人！选了后者——肯定选后者啊，这套逻辑还是Amelia联合你们手把手教给女主的——后女主直接爆发，把非常稀有的、国家珍宝级的魔法封印宝石给炸了，然后冲向前线去救Leo。</p>
    <p>我要封住你的魔力，让你活下去——笑死，根本封不住。
     <br>谢谢，会开挂的女主真的很爽。</p>
    <p>“呃，你，你好像变得更强了啊……”
     <br>对不起，这个把女主魔法封印住的人尴尬地说出这句话的时候我真的有笑到。</p>
    <p>然后白炎在小夫妻身边烧出一个无亡灵的圈，国王Edward吓得慌忙撤军。光是想象一下那个画面，都感觉好拉风！C位！世界正中央的感觉！其他人全部都是自己的观众！而且是同样可以使用白炎魔法的人，我高呼般配！</p>
    <p>其实直到这里我才意识到白炎魔法这个技能有多猛……在亡灵法师横行的世界里这可是克制亡灵法师的技能哦？！原来如此哦？？！之前一直以为这就是个给William打辅助的技能_(:з)∠)_</p>
    <p>但是实际上写起来好像击退亡灵很简单的样子……所以之前为什么要特地把女主锁起来自己去赴死呢？明明看起来很简单就胜利了啊？？还没有一次H的时间长哦？？？！所以我对这个战争剧情，很？？好吧，毕竟最开始谁都不知道女主会开挂是不是。</p>
    <p>之后战斗结束，两个人又一次野战、对，又，成长路线里两个人就没好好在床上开过车，提到了一开始就怀疑有的间谍其实是Harrison。然后恋爱桥段真的很普通，完全就能猜到啊Leo该出场了女主该出场了（但是英雄救美很爽，女主智商也在线）还是挺会写的，玩到Harrison这里才意识到这个剧本真的超级细腻，每个人都被父权折磨得身心俱疲，包括Amelia。最终男女主有了小孩，这里有提到William一直对女主有意思。</p>
    <p>感觉在这种HE里，男女主的美满带来的遗憾……或者说是因为男女主进展顺利而不得不出现的意难平才是凸显男女主HE可贵的地方。而其中一种意难平——另一位美强惨男主William也喜欢女主这种事情可以通过开始新游戏解决，好，我冲了！（？</p>

    <div class="post-copyright">
     <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
    </div>
    <div class="valine-box">
     <script>$(".valine-box").load("/layout/partial/valine.html")</script>
    </div>
   </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
</html>