<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <title>レオ、我的天使—— | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/amusement/game.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>乙女游戏 - レオ、我的天使——
   </div>

   <div class="middle-content">
    <h1>レオ、我的天使——</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2021-03-10</span><!-- | <span class="post-meta-item"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>更新于 20??-??-??</span> -->
    </div>
    <p>挖坑，证明我已经开始玩了（？</p>
    <p>填坑前感想：
     <br>1. 画风好看，好看得一眼吸引我到我入手以后定睛一看才发现，卧槽，<b>R18</b>。
     <br>2. 恋爱桥段比较老套，基本可以猜到接下来会发生什么，但是挺好看的。(。
     <br>3. 宣传图片严重ooc，对说的就是你，レオ。
     <br>4. 音乐很好听但是好像没有做那种衔接？导致我经常觉得愉快的气氛要结束了()
     <br>5. CG好少，55555555
    </p>
    <p>……感觉好像没说什么优点，优点就是没有辜负我因画风而产生的期待以至于我直接挖坑准备写感想233333</p>
    <p class="img-desc"><img src="https://static.wixstatic.com/media/0c6317_705e4b3a2e6b42d49b930e79e366c939~mv2.jpg/v1/fill/w_2000,h_1012,al_c,q_90/%E3%83%88%E3%83%83%E3%83%97.webp" alt="Monochrome Wizard～黒の讃歌、白の鎮魂歌～">Monochrome Wizard～黒の讃歌、白の鎮魂歌～<br>嫌麻烦直接用的<a href="https://www.monochromewizard.com/">官网<i class="fa fa-external-link" aria-hidden="true"></i></a>图床，需要科学上网才能加载。</p>
    <div class="post-copyright">
     <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
    </div>
   </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
</html>