<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="/source/js/turntopage.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>所谓规则啊 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/diary/gossip.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>杂谈 - 所谓规则啊
   </div>

   <div class="middle-content">
    <h1>所谓规则啊</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2020-11-22</span>
    </div>
     <p>昨天老婆突然对我说，她有位舍友要结婚了，和认识了100天的男朋友。她的母亲似乎还很高兴的样子，她自己似乎也觉得很幸福。</p>
     <p>突然深刻意识到，是啊，自己也已经到能结婚的年龄了啊。仿佛昨天傍晚我还走在中学放学的路上，书包里背满了作业本。</p>
     <p>22岁啊。如果之前一直在读书的话，根本自己还是个小孩子。左麒说，中国妈妈恨不能娘胎里给女儿定好二十岁能嫁的人，仿佛是个男人就行了。和认识了百来天的男孩子定下了后半生，自己还会觉得幸福的话，真的是把结婚当成要务了吧。</p>
     <p>是从什么时候开始意识到的呢，是读完《上帝的图书馆》的时候，是在我不断挂掉科目二的时候，或是更早，在离婚冷静期以及其他婚姻相关政策拟出台的时候？突然觉得挺没意思的，很多我们在追逐的目标其实根本就没有追逐的必要。比如有时本科毕业或者研究生毕业找到的工作其实能识字就能做；明明街上机动车正在变得越来越多、马路越来越堵、某些地区已经开始要摇号拍牌照、科目二越改越难，可还是有无数人趋之若鹜地考驾照，考学、考证、买车、买房、结婚生孩子……仿佛这一套程序已经变成了公认的真理，是人一生必须要完成的事情。</p>
     <p>可是当“父亲”把卡萝琳带进图书馆的时候，这一套规则已经完全失效了啊。</p>
     <p>不得不想到世界上现存的第一部比较完备的成文法典《汉穆拉比法典》，以及罗马第一部成文法典《十二铜表法》。从规则诞生的初期开始，这些规则都是在为谁服务啊。为什么现在的人都要为此前仆后继，并且认为按照规则一步一步走在顶端的人、考上名校的人、拿到驾照的人、买了房找到婚姻对象的人就是赢家呢？就像资本家在经济危机的时候会选择把牛奶倒掉，因为现在人类世界遵循的运转规律并不是以全人类为中心的啊。</p>
     <p>明明换一套体系，这些规则就已经完全不适用了啊。</p>
     <p><del>嗯……本来这一部分还可以做很多论证的，不过属实有点危险，所以算了。</del></p>
     <p>最让我觉得痛苦的还是我思考这些也很没有意思。科目二再离谱，驾照还是要考；就算研究生阶段可能也只会跟着课题组划水搬砖，研究生也还是要考。为什么一定要有驾照呢？因为大家都有，某些行业正在因为私家车的普及而萎缩，没有驾照的话生活会非常不方便；为什么一定要考研呢？因为大家都考，学历正在通货膨胀，我不考的话还有几亿人选择考研究生——更可笑的是规则的制定者还在有意制定更多规则让大家按照他们希望的方式走，比如，婚姻法，为了让规则完成它们最终的使命。于是，想太多却无能为力，想突破却没有途径只能低头谋生、只能渐渐融入大环境，又清楚地认识到自己正在融进去；规则再离谱，也只能遵循规则一步步走下去。看着身边的人因为要和认识了三个月的人结婚而感到幸福，就觉得还不如意识不到呢，至少还会因为某件正在经历的事而感到幸福啊。</p>
     <p>这就是体制化吧，Institutionalization。<br/>
     只能说，“在墙里生活久了，不要忘记还有没有被墙围住的世界”吧。</p>
     <blockquote><p>理解得越多，就越痛苦。知道得越多，就越撕裂。但是，他有着同痛苦相对称的清澈，与绝望相均衡的坚韧。  ——勒内·夏尔</p>
     </blockquote>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>↑&nbsp;代oc了。</strong></p>
     <p>嗯，也是这两天里难得搞的阳间句子。</p>
     <div class="post-copyright">
      <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
     </div>
     <div class="valine-box">
      <script>$(".valine-box").load("/layout/partial/valine.html")</script>
     </div>
   </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
</html>