<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="/source/imgs/favicon.png"/>
 <title>赛博BG战士会梦见婚姻殿堂吗 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/diary/gossip.html"><li class="list-item">返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>杂谈 - 赛博BG战士会梦见婚姻殿堂吗
   </div>

   <div class="middle-content">
    <h1>赛博BG战士会梦见婚姻殿堂吗</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2021-01-04</span>
    </div>
    <p>填oc坑时开始胡思乱想。<br/>
     本人，总的来说，<strong>雷网络耽美</strong>，也不吃百合，自几年前铜仁圈里bg仍处于鄙视链底端的年代以来就是个不折不扣的bg战士，自家oc非单身的也全部都是bg。<br/>
     （其实现在的网络耽美香的也没几个啊……很多都是换头bg文学<del>，在这里安利白先勇先生的《孽子》(草)</del>）</p>
     <p>虽然我非常不喜欢叠纸，但是客观来讲叠纸凭借《恋与制作人》强力推动了圈内bg/乙女生态，从这一方面来说希望它再接再厉。</p>
     <hr />
     <ul>
     <li>本文为想到哪写到哪的碎碎念，谨代表个人观点，可能会引起部分类型<strong>尤其是已婚已育人士</strong>的不适。</li>
     </ul>
     <p>考完试放假，终于可以开始在没什么心理负担的情况下填oc的坑了。最近一直在脑洞自设和她cp的故事，约文稿还约的都是车（我靠），以及也会想一想科尔温和艾雪那一对。在脑洞我oc甜美爱情的同时我偶尔会疑惑，按照当下的风气，这些故事会不会有朝一日变成“我渴望拥有甜美爱情”的佐证。再加上今天在晚餐餐桌上和父母进行了一番对话，让我再一次不吐不快。</p>
     <p>大概在今年11月的时候吧……经过数日的沉淀，我已经坚定地不相信3D人的爱情了。我现在觉得催婚催育是一件很搞笑的事情。我愿意相信可能有人是因为爱情而结婚生孩子，但绝对只是极少数人，绝大部分人都是在没有深厚的感情基础上就成家的，根本无需我搜证，满大街的情感故事都能印证。婚姻不需要爱情，爱情也不需要婚姻。秦国规定女子15必须成婚生子，因为这样才能保证帝国拥有源源不断的生产力。</p>
     <p>“你在玩帝国时代这类游戏的时候，你会管这些新生的农民是男是女、每个人拥有什么爱好吗？不，你只会希望他们不断工作，他们一闲下来你就着急。”</p>
     <p>所以催婚催育它搞笑在哪里呢？不同于某些福利很好的国家，你得拼了老命养你的孩子，赵嘉仁不会替你养，养出来以后你的孩子将成为赵嘉仁的生产力，赵嘉仁还要用诸如爱情这类美妙的词汇来包装婚姻法这个财产分配制度，用“传宗接代”、“爱情结晶”这样的美妙呼唤来为自己谋求源源不断能割的韭菜这件事蒙上遮羞布，广大群众却还在穷尽一生为此趋之若鹜，还要让自己的子孙后代为此趋之若鹜，属实被卖还要拖家带口帮数钱。</p>
     <p>毕竟这个世界还是少数人的舞台啊。</p>
     <p>草，太特么危险了，根本不敢深入了。</p>
     <p>于我而言，对于还要为生计奔波的人来说，“真爱”这种事只会发生在恋爱，当走到“结婚”这一步时只需要利益就可以支撑了。这不仅是“婚姻不需要爱情，爱情也不需要婚姻”，也与男女各自的基因有关。这个学问就太多太杂了，不过我一直相信人性、性格这类很多是由基因决定的，比如说就算后天经历相同的教育，不同人在面对同一件事时态度依旧会不一样；不同的人抗压能力和处理负能量的方式就是不一样；还有有些人生来他就拥有反社会人格之类的。这方面比较能让人产生共鸣的事实是“最崩溃的时候是发现自己与父母有着相同的缺点的时候”，就像左麒说的李承鄞他最终还是流着自己憎恶的李家人的血，做着李家人都在做的事。</p>
     <p>所以我觉得两人之间要能产生“真爱”，首先柴米油盐酱醋茶这类保证生计的事情对二人来说都不能算事，简单来说就是“富有”是最基础的配置。只有极度富有的人之间才会产生所谓爱情，但是“爱情”包含忠贞，据我观察3D人在一段无需担心财富的爱情中基本很难始终如一。除此之外二人的三观还要高度相符，要同样优秀且有趣，但事实上拥有三观相符的知音已经是一件天大的难事了，还要是各方面都满足条件的爱人真是难上加难。</p>
     <p>所以我不相信3D人拥有真爱。哪怕有过这么一段令人心旷神怡的过往，最终也会被生活的一地鸡毛打败。</p>
     <p>但纸片人不一样。</p>
     <p>纸片人可以轻易地拥有财富、知识、美丽的外表，受过良好的教育；轻易拥有3D人不可能拥有的过去，所以能够轻易拥有3D人不可能拥有的人格。只要能够自圆其说，“双向拯救”这一类在现实中难以存在的故事线要多少有多少。</p>
     <p>虽然我说我的oc们非单身的全部都是bg配偶，但是之前主要在弄的还是科尔温x艾雪<del>（Ishya，我的亲女儿啊）</del>，这一对就包含了我目前对爱情的全部浅薄认知和幻想：尊重、包容、信任、忠诚、距离感、性、灵魂独立又互相依赖。以及绝对的大前提：财富，以及身处乌托邦般的理想社会，起码不能是父权社会。</p>
     <p>在现实中两人能在一段感情里自始至终都保持灵魂独立这一点已经非常难做到了吧。</p>
     <p>我在搞这一对的时候也怀疑过自己，感觉自己搞得太理想了，理想到在现实根本找不到任何一个样本（丹麦女王玛格丽特二世的爱情故事勉强算一个）。但是没办法呀，纸片人就是拥有这样的资本。这也包括其他性向的作品，因为我渐渐发现其实我不是不吃耽美<del>或者扶他</del>，就是现在这些耽美都被搞得太难吃了……左麒家里就有一对bl，她写文又好看，我看得香到满地找头。百合的话，贝皇女就很不错，但我更吃帝弥雷斯（）<del>我觉得艾黛尔贾特应该只身一人奔赴be和我非常欣赏她有什么冲突吗？</del></p>
     <p>所以，与其说我的oc们全是bg是“我渴望拥有甜美爱情”的体现，不如说是一种情感嫁接。事实上我是绝对不会在现实里渴望与哪位男士拥有爱情的……哪怕有，也会在不久的将来、在走向婚姻殿堂的时候消逝，因为我上述的那些条件3D人们一个都没法符合，包括我自己┑(￣Д ￣)┍</p>
     <blockquote><p>他爱你，<br/>
     但是你永远也不知道他为什么爱你，<br/>
     那可能是因为你戴的一顶毛线帽子有着柔和的紫色，<br/>
     可能是因为你走起路来有点奇怪的外八字，<br/>
     或者你在树影下的微笑让他想起某个梦中的场景，<br/>
     再或者是那天的月亮白晃晃的，<br/>
     在你的脖子上画出个让他感动的弧线，<br/>
     什么都有可能。</p>
     <p>他不会因为你努力表达的爱情多爱你一点，<br/>
     你懒散疲倦的样子反而倒能激发他的热情。<br/>
     他不是活在你所在的这个世界，<br/>
     你不是你，<br/>
     你只是恰好印证或者符合了他的幻象。<br/>
     爱情是好爱情，只是与你无关。</p>
     <p>对他来说唯一重要的就是他的白日梦。<br/>
     现实中与他白日梦吻合的他就喜欢，<br/>
     相抵触的他就讨厌，<br/>
     丝毫不差的当然就是奇迹了。<br/>
     奇迹从未发生。</p>
     <p>——《像我这样笨拙地生活》 廖一梅 著</p>
     </blockquote>
     <p>其实从这一点来论证，对一个纸片人产生爱情是成立的呢。</p>
     <p>或者说，大家爱的都只是纸片人罢了。</p>
     <hr />
     <p><strong>2021-01-04更新：</strong></p>
     <p>一觉醒来看见这么张图：</p>
     <p><img src="https://hexo-1302421215.cos.ap-shanghai.myqcloud.com/QQ%E5%9B%BE%E7%89%8720210104.jpg"></p>
     <p>突然就觉得更有意思了，简直如同及时雨印证了我上文那段论点……</p>
     <p>画下大饼后，家长给孩子上课的钱养活了从培训班乃至考级的整个行业，完成了无数打工人的KPI。<br/>
     中国人拼命赚钱为后代的思维被利用得淋漓尽致。</p>
     <p>偏偏大家还喜欢自我感动。<br/>
     自我感动类型①：中国人能在这么短的时间里站起来，是因为中国人爱为后代着想，外国人行吗？<br/>
     自我感动类型②：我这么辛辛苦苦供你学这些，你这样对得起我们吗？<br/>
     自我感动类型③：你不生孩子是因为你是个自私的人，而我不是个自私的人，我可以无私奉献。<br/>
     到头来呢，不过是大韭菜生小韭菜，世世代代做韭菜罢了。<br/>
     嘿嘿~<img style="display:inline-block;position:relative;top:5px;width:80px;border:0" src="https://hexo-1302421215.cos.ap-shanghai.myqcloud.com/Cecilia-1.png" /></p>
     <p>明明打破这个思维僵局每个人都能活得快乐许多，但绝大部分人还爱催婚催育，还爱为此戳人脊梁骨。<br/>
     试问您在为谁做嫁衣哪？</p>
     <p>不过个人感觉学还是得学一门的，没有艺术熏陶人会死掉的。<br/>
     至少心灵会死掉。（虽然韭菜确实不需要什么人文关怀，韭菜做好韭菜就可以惹。）</p>
     <div class="post-copyright">
      <p>本文作者: Uki<br/>
      作者站点: https://ishya.top/<br/>
      版权声明: 本博客所有文章除特别声明外，均采用 &copy;BY-NC-SA 许可协议，转载请注明出处。</p>
     </div>
   </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
</html>