<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>孤独地痛苦着、无谓地坚持着 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/diary/gossip.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>杂谈 - 孤独地痛苦着、无谓地坚持着
   </div>

   <div class="middle-content">
    <h1>孤独地痛苦着、无谓地坚持着</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2020-11-03</span>
    </div>
     <p>这次不写议论文，写写没什么逻辑的随笔发泄。</p>
     <hr />
     <p>越来越觉得痛苦和快乐是轮回的，今天有一倍的快乐，未来痛苦就会以十倍百倍的数目返还给你，而且这些痛苦源于你的快乐。举个也许不太恰当的例子，我画画，最开始是因为感兴趣才拿起笔，想画完后给摩尔庄园官方投稿，梦想自己的画被刊登上那本游戏里的杂志（忘记叫什么名字了）当然投了，也当然没被刊登。失望是肯定有的，菜也是肯定的。后来不画摩尔了，开始画人，找网图临摹，临摹了两三本那种素描本速写本，也看不出来自己临摹的好不好，阴影黑白色块也是凭感觉加。但是是快乐的，因为自己喜欢画画，虽然没有被官方选中登上那本虚拟杂志，期待落空了，但是好像没当回事。</p>
     <p>然后尝试原创，画一画自己喜欢的元素构成的人物。画完画嘛就想拿给别人看看。我妈说不错，于是拿给我爸看，我爸评价“看来字写的不好看的人画画也画不好看。（真话，字丑画丑人也丑，所以安全活到了现在，不然早因拒绝告白被毁容了）”虽然当时听到很难过，这句话也就这么被刻在自己记忆里了，但是也没有激起自己多大的好强心，也就这么一直没舍得放下笔，坚持画了下来。那个时候觉得自己是最厉害的，为什么没有人夸我厉害呢？我为什么没出名呢？现在想想其实自己真的很没有天赋，画了七八年也没什么进步，人体还是崩坏的，上色也是今年年初才有那么一点点感觉。这就是我想说的，当我开始意识到自己坚持了那么久还是没有起色，并且非常想变好的时候，曾经那些快乐就会变成痛苦，并且是绵延不绝的痛苦。18～19年的时候心里有一道很高的坎，想着干脆就放弃画画吧，封笔了，也没有那么想画了，反正曾经被说过“要是你画画的时间多用来看点书也不会像现在这样”，反正画出来都是垃圾，也达不到我的预期，也越画越痛苦。但是一想到已经投进了那么多时间精力和金钱，到底是没舍得放弃。</p>
     <p>索性19年年底单向认识了丁丁框老师，正好老师在开色彩课，是我一直在追求的风格，我去听了，让我暂时跨过了这道封笔的坎。</p>
     <p>也发过一些平台，扩过不少列，放送过无偿，希望自己的画能被看到，也零零星星地会有人来夸我（百分之九十都是熟人），求建议的时候建议比夸多（当然也好，只是大部分人求建议的时候是夸比建议多）说自己不想被夸是假的，没人夸也是真的。也还好已经想通了，不管怎么样还是会坚持下去的，毕竟我没有列表们那么强有小粉丝，也没有富裕到可以不停约稿，我不坚持下去的话就没法搞我oc，我会被饿死。</p>
     <p>也不像曾经还很菜的时候执着于出名了，自己默默画就好。是痛苦的吧，不是出于没名气画没人看，而是出于“我的作品真的已经烂到没人看了吗”这样的心态（有时候连赞都没有）因为我也想画得更好，这样就能更好地还原出我心目中的场景，仅此而已。</p>
     <p>不过，烂这点还是真的，只是到底烂到什么程度就有点没法判断了。</p>
     <p>其实我真的很想去学美术，感觉我的人生从没走上美术生的道路开始已经结束了。说什么不要把爱好当恰饭工具，也只是在自我安慰自我欺骗罢了。可是当时父母也不会允许自己去学美术的。</p>
     <p>左麒说，我国人民的绝大部分痛苦来自父权。女性待遇就不说了，里里外外都是离谱，男性也一样。她的爷爷坐家主之位（她弟弟还要继承这个家主之位，感情还是个嫡长子，每次听到都会怀疑自己和她是生活在同一个国家的吗），一边觉得处理家长里短的事很烦人，但要他“退位”放手不干他也一定不会放，就像很多女性也会主动维护这种父权一样。大家长制也是父权社会的一种体现，现在的上学小朋友十个里面九个半是抑郁症，这里面有九点一个得不到家长的理解和开导。我已经算很幸运的人了，至少没缺胳膊少腿、精神正常地活到现在。至少现在精神还正常吧。</p>
     <p>还有我觉得父权社会最搞笑的就是明明同一个层次的大家都是笼子里的猴子，关着供神们散发慈爱之心的，却偏偏有猴觉得自己是那个耍猴人。东亚地区尤其严重，毕竟历史上是大东亚文化圈嘛，向东亚各地输出父权文化的是……并且青出于蓝而胜于蓝。（今日比烂 1/1完成）</p>
     <p>所以“人生得意须尽欢，莫使金樽空对月”，是一句多么富有哲理的诗句啊。痛苦才是人生常态，因为只要还没有放弃思考，还没有放弃变好，所有的快乐最终都会以痛苦的形式作用在人内心。要是感到快乐，觉得自己已经得意，那就赶紧尽情作乐，因为得意不过是镜中花水中月，今日的得意在明日又会把痛苦的后果作用于你。在学校的时候这首诗基本是被解读成体现了李白的豪迈奔放，现在看来其实很沉重，更像一种入世后又出世的凄凉。只有从未入世的人才会没心没肺地豪迈，没心没肺地充满激情。</p>
     <p>所以啊，打动人的从来不是目标明确勇往直前又恰好运气暂时还不错的成功者，他们值得敬佩，但他们的经历并不动人。谁知道明天会是什么样子的？苦痛才是填充满未来的东西。真正能打动人的还是那些明知自己是被抛弃的那个，明知前路毫无希望还是选择往前走的人。所以像《1917》这样的故事才足够动人。</p>
     <p>说到《1917》，最近又看到了一些关于《1917》的评价。感觉大家都太局限于一镜到底了…这个电影做得最棒的明明是对比，腐朽的战场与花海、悲壮的牺牲与不值一提的死亡、落入陷阱的冲锋陷阵…教堂那段是最惊艳的，大地上燃烧的信仰与地底暗处的新生，这太棒了，怎么会有如此绝妙的意向……竟然还有人说这部片是个人英雄主义，太可怕了，明明最开始没有人觉得主角二人能活着回来，他们是被放弃的人啊，与在座的大部分人都一样……结果大家的视线全部放在什么一镜到底、游戏闯关什么的，无语。</p>
     <p>不过在这个魔童降世都能被吹到这种程度的氛围下……也正常吧，大家比较看重拍摄技巧和制作技术，于是拿出再烂的剧情都能被吹成国产之光……毫不夸张地说魔童在我眼里就是坨镀金的屎。这种时候就会觉得能跟自己想到一起的人很少啊，就算卖了安利别人也不一定会吃，没有人会屑于屈尊降贵去了解另一个人，所有人都觉得自己是最高贵最懂的那个，包括我。所以未来注定只有自己一个人前进，只能独自承受痛苦。艺术源于痛苦，人类的进步是驾临在痛苦上的，这才是“忧患”吧，并非随随便便又刻意的挫折教育才是“忧患”。所以弱小的人类才需要信仰啊，否则真是太脆弱了，世间没有什么事情是值得自己活下去的，除了信仰，信仰能让人心甘情愿承担前进的苦痛，同时又淡化了这种苦痛。（由此看来，新冲国人还是活得太快乐了，属于还未入世）</p>
     <p>从来没有什么光明的前途，喝下所谓前途光明的鸡汤后遇上现实的幻灭也就是所谓一份快乐与百份痛苦的激烈转换了。坚持追求美好的事物也是毫无价值的，因为刻在基因里的人性注定会让人间变得糟糕。完全可以理解为什么艺术家的自杀率那么高，他们天马行空的想象力创造力和超凡脱俗的追求注定会带领他们奔向伊甸园。理想主义不该成为贬义词，毕竟谁又愿意承担苦痛呢？谁愿意幻灭呢？但是就这样还依然决定坚持走下去的人都是伟大的，这样的人才是具有伟大精神的，就，“人生得意须尽欢”吧。</p>
     <p>啊。我所指的苦痛并不是挫折，挫折这种具象障碍姑且还不配被叫做苦痛。如果能从我乱七八糟的感慨中理解到我想表达的意思……也许已经看出来了吧。</p>
     <div class="post-copyright">
      <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
     </div>
     <div class="valine-box">
      <script>$(".valine-box").load("/layout/partial/valine.html")</script>
     </div>
    </div>
    </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
</html>