<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>“你的注意力可以变现” | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/diary/gossip.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>杂谈 - “你的注意力可以变现”
   </div>

   <div class="middle-content">
    <h1>“你的注意力可以变现”</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2020-08-21</span>
    </div>
    <p>很少发表类似的想法，因为总是会过一段时间就觉得曾经的思想非常幼稚。而且我的行文能力很一般，唯恐不能尽数表达自己的想法，造成一些不必要的误解。</p>
    <p>不过这次是真的不吐不快了，哪怕几年后的我再看到这篇文章，或者有幸被一些博览群书勤于思考的学者看到（不太可能不过以防万一呢）后嗤之以鼻。</p>
    <ul>
    <li>文中观点谨代表作者个人浅见，文笔不佳望多包涵。</li>
    </ul>
    <h2>开端，“网络女权”</h2>
    <p>这两天，我猝不及防看见了一条“若我生在古代，我定是不愿当正经人家的小姐的，要做便做那妓女，天生浪荡坯，爱过很多人，短暂而又真心”的言论，又看见了为此言论辩护、认为“反对这个观点的是歧视妓女、替女性背贞节坊”的长篇大论，我深受触动，故结合近来自己的所见所闻，发表一些浅薄的感想。</p>
    <p>先不说发言者到底是受到了哪篇网络小说或者事件的影响，也不说鼓吹“卖/淫自由”简直就是在鼓吹压迫女性。不说读书吧，我也不爱读书，但是但凡多看几部电影，类似《姊姊妹妹站起来》这种直白得不能再直白的都可以，也不会发表如此“高见”。</p>
    <p>我已经很久没有浏览微博了。前段时间，“杀妻”、“杀女友”的新闻遍布全网；这两天“呼吁取消卫生巾税收”的话题又开始迅速传播。卸载了APP比流行慢一拍的我，是在无处不见的争吵中得知了这些新闻。而电脑弹窗新闻、QQ看点，这类无法被屏蔽的消息也时常窜进视线，这类新闻页面中的评论，热度最高的总是“显摆着性别优越感”，因为楼中楼会充斥着反驳“性别优越”的言论，网友你一言我一语把这些能够激起愤怒的语句送上“热评”。</p>
    <p>看得我甚是迷惑。</p>
    <p>大概两三年前，网络，尤其是微博，掀起的“女权”风潮，如今已经渐渐变了味。在我淡出微博前，观摩了不少大大小小的“战场”。如今的“网络女权”，不过是自媒体平台打着女权的旗号，激起女性用户占比较大的平台中女性群体的愤怒，以引发键盘骂战的形式给自己带来热度的一种方式。这些“女权”，痛斥婚姻法将女性置于弱势地位（作为一种财产分配制度确实有其不合理性，这点我不否认），将选择结婚的女性蔑称为“婚驴”，扬言“嫁男人不如做/妓/女服务六十岁的‘老头’”，认为“人没有资格对卖了血肉以求生计的女性指指点点”。这些言论无非投出了一个希望能够不劳而获的人的影子，里里外外跳不出以婚姻为中心的、包括intercourse在内的标准来衡量一位女性个人价值的框架。你可以说“卖身”也是一种劳动，但出卖自己生来就有的姿色和器官，和“出卖”需要自己寒窗苦读数年才能学得的知识和获得的文凭，孰更信手拈来？<br/>
    当然，以上只针对自愿选择为娼的人。</p>
    <p>我也算是半个看着风气一步步变得如此极端的网络冲浪选手。最开始是“饭圈”，追星的粉丝为了自己偶像的事业和资源起争执、炒数据，愈演愈烈。慢慢的，不仅仅局限于追星了，越来越多的商家开始尝到这种风气的甜头，只要引起争执，激发人群的愤怒，就能在短时间内给自己带来无穷无尽的热度。尝到甜头的商家们开始故意引导这种阵营对立的风向，这一点在国产的女性向手游圈尤为明显，游戏官方“引战时切错号”的笑话频出。“女权”也不幸沦为其中一子，“性别对立”已然成了当今社交网络最好炒热度的话题之一。一则新闻的标题根据需求和目标群体，是可以转变很多种表达方式的，而媒体最愿意以一种可以轻易引起“网络女权”群体注意、引发性别对立争论的方式呈现，比如在千万值得报导的悲剧中挑出丈夫杀妻子、男友杀女友的故事，并将“男子杀人”写成“女子被男子杀害”以给自己快速赚取热度。<br/>
    甚至一些“热评”，作者是否真的充满性别优越感都不得而知，但是作者一定知道发表这样的言论能够带着自己的昵称和头像“上热评”。</p>
    <p>其实看看当代女频网络文学就知道，很多已经有能力接触网络的女性到底还持有什么想法：天降多金帅气有权老公无缘无故把你宠上天，你就负责给他生孩子。可是，为什么这样的好运偏偏就降临到你头上？世界上比你幸运、比你美丽、比你优秀的女性多得是，还都有生育器官不是吗？持久不灭的爱情是一位美好有趣的人遇到另一位美好有趣的人，永不停息地携手共进才能摩擦出的火花。</p>
    <p>在我看来，女权是为努力上进却得不到和男性相同待遇的女性争取合法权益的，不是给成天想着天降馅饼、不劳而获的人怨天尤人的。婚姻法只是女权主义者需要争取的一小部分，因为婚姻本就只是生活的调味剂。</p>
    <p>可是为什么那么多人越来越偏离了初心？<br/>
    因为渴求热度的平台不会教给网上冲浪的人如何思考，只会为了迎合用户的口味研究该如何编写标题。而选择了将闲暇时间全部使用在下拉和下滑刷新动态的人群，也永远不会选择花时间去学习如何思考，只会沉浸在自恋式的网络社交和发泄个人情绪的短暂快感之中。</p>
    <h2>“商家正在将APP做成能让你上瘾的样子”</h2>
    <p>在一部国外的短片中，曾是谷歌设计伦理学家的Tristan Harris先生提到：“科技公司的设计不是为了帮助我们，而是为了吸引我们的注意”。始作俑者就是“随机性”。现在，各路APP吸引着我们随时随地检查电子邮件和聊天消息、关注亮起的屏保上的消息推送，社交平台也在模拟社交互动的感觉，其背后是诸如老虎机杠杆般的原理，让人沉迷于获得随机结果的上瘾感受；一些应用的“下拉刷新”模式，一种利用无限滚屏而永无止境地加载新鲜内容的模式，降低了用户对“终点”的认知和控制感；除此之外，科技公司更是利用人生理对暖色敏感的特征，将APP的图标、通知的气泡设计成明亮大胆的暖色调。</p>
    <p>商家为什么要费尽心机吸引用户的注意力？这一切缘于风靡的广告经济。低廉甚至免费的商品及应用通过引入第三方的投资的方式，不仅弥补了售价的亏损，更是以低价吸引了使用者，使其灌入他们的注意力。这种经营模式最早出现在报纸行业，随着电子邮件和互联网社交的发展逐渐占据人们的日常生活，并裹上“高科技带来信息大爆炸时代”的外衣。当用户被各式各样应用中的消息吸引时，无可避免地被灌入许多广告，这样用户便成了商家的资金来源，成为了商品本身。</p>
    <blockquote><p>注意力本来不是什么稀有的东西。每个人只要是清醒着的，时刻都在产生和花费注意力。你的注意力不用在读书就用在娱乐，不用在社交就用在思考，随时产生随时花掉，既不能关闭，也不能攒起来。本来如何使用注意力完全是个人自己的事儿，但是自从有了大众传媒后，就有商家意识到，你的注意力是他的资源。    ——《注意力经济·推荐序》</p>
    </blockquote>
    <p>这让我不得不想到经济学中的“机会成本”：当你用有限的财富资源去投资一块土地，若是选择了种植棉花，那么必须放弃使用这片土地进行畜牧、做房地产等其余选项为你带来的收入，所有被放弃的收入中最高的那个便是“机会成本”。</p>
    <p>在互联网时代，被作为商品的“注意力”，对个人来说或许就是一种可以用于投资的新兴财富。往古早一点说，是“每个人拥有的时间是有限的”，但也有些不一样。强调时间有限的格言更多是呼吁人们学习，他们以这样的方式来为各种各样的人类行为定性，“你这么做是在浪费时间”，浪费的时间本身却不会转化为谁的财富。而“注意力”是一种更为广泛的东西，是人主观拥有的，不是客观流逝的一种物理维度。所以在由主观决定着的“注意力”引领下，人的行为不分浪费与否，更像是一种对情绪和心理状态的投资。</p>
    <p>在到处都是低廉的商品、应用商城随处可见的免费app已经无法充分吸引用户的注意力后，聪明的商家便开始利用这样一点，将这种对于情绪的“投资”变现。当你选择了刷“朋友圈”来获得快乐，就必须放弃看电影、打游戏获得的快乐；当你选择了浏览新闻获得知识，就必须放弃阅读出版书来获得知识。不论如何，花费注意力无可避免，于是他们很快筛选出了这样一种情绪：愤怒。愤怒状态下的人容易发表激进极端的言论，又激起了观点相反的人的愤怒，愤怒的人总要情不自禁地宣泄，即时评论版块于是变成了很好的平台，新的信息、新的争论、如此循环，热度就源源不断地输入。</p>
    <p>于是在众多策略中，“女权”便成了很好的立足点之一。商家真的在宣扬女权吗？我看未必，他们连教人分辨何为“女权”都不会，他们只是在激起无穷无尽的愤怒，“网络女权主义者”只是他们赚取热度的商品。在愤怒中，忙着宣泄情绪的人忘记了思考，于是更加被繁杂的消息冲昏了头脑，失去辨别的能力。看不见摸不着的意识形态于是沦为了获取财富的道具，任人打扮、任人宰割。</p>
    <p>在我看来，前文所述的“妓女”言论，不论是发表言论的人还是为此辩护的人，甚至千千万万参与争论的网友，不论孰对孰错，都不幸沦为了商业利益的奴隶。更可悲的是，人们还自以为是在进行正义的辩护，推动意识形态的发展，实际上他们得到了什么呢？<br/>
    由猝不及防加入观众席的群众看来，不过是“学而不思则罔，思而不学则殆”罢了，这些被宣泄出来的情绪最终随着终端的一次次“下滑刷新”，沉没在网络数据的海洋里。</p>
    <h2>尾声，“让注意力变现为自己的财富”</h2>
    <p>现在，在社交平台上发泄情绪会被输入广告、去电影院中观赏一部电影前也要看三分钟广告。在这个不论如何投资自己的注意力都会摄入广告信息的时代，不论如何注意力都能够变成实体财富的时代，是任由被他人劫走全部的资产，还是想方设法与狡猾的商家分一杯羹？</p>
    <p>经济学家通过对机会成本的定义与分析，要求企业经管者依据实际收益必须大于机会成本的原则经营企业，从而使有限的资源得到最佳配置。经济学考虑的是社会资源的稀缺性。如今，在商家的推波助澜下，在纷乱繁杂的互联网信息输入下，注意力对于个人来说，同样拥有了稀缺性。</p>
    <p>既然拥有稀缺性，那么诸如此类的逻辑同样适用于注意力。当投资的注意力收获的实际收益没能大于机会成本，一个人便沦为了商家的羔羊。</p>
    <p>被注意力商人以调动情绪的方式灌入脑海中的信息，会逐渐使人陷入愤怒的深渊，不得不永无止境地发泄情绪，忘却思考。“思而不学则殆”，信息不是知识。而同样有一些注意力商人，通过吸引用户的注意力，将知识推到用户眼前。</p>
    <p>习得的知识越多，便越能接近世界运转的真相，越不会被随波逐流的标题文字欺骗，陷入无穷无尽的愤怒之中。而那些被放弃的愤怒情绪，那些原先还有些表达自我的价值的“机会成本”，随着知识和认知的增加，会越来越不能反映自己当下的真实想法，于是会变得越来越一文不值。</p>
    <p>所以，当信息与知识同时吸引了你的注意力时，需要选择投资后者，情绪时时刻刻都在变化，信息更是具有时效性，而有益的知识永不过时。哪怕是在闲暇时光观看一部广受好评的电影，也能让你收获颇多。</p>
    <p>以此，自勉。</p>
    <div class="post-copyright">
     <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
    </div>
    <div class="valine-box">
     <script>$(".valine-box").load("/layout/partial/valine.html")</script>
    </div>
   </div>
      
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
</html>