<!DOCTYPE html>
<html lang="zh-CN">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
  <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
  <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
  <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
  <title>人间游记 | UTOPIA</title>
 </head>

 <body>
  <header>
    <div class="header-inner">
      <script>$(".header-inner").load("/layout/partial/header.html")</script>
    </div>
  </header>

  <div class="author-inner">
    <script>$(".author-inner").load("/layout/partial/author.html")</script>
  </div>

  <div class="main-inner">
   <div class="content">
    <div class="content-inner">
     <div class="sidebar-left">
      <ul class="left-nav">
        <a href="/layout/diary/index.html"><li class="list-item">记 事</li></a>
        <a href="/layout/diary/gossip.html"><li class="list-item active">杂 谈</li></a>
      </ul>
     </div>
    
    <div class="middle">
     <div class="middle-bar">
      <i class="fa fa-book" aria-hidden="true"></i>随笔 - 杂谈
     </div>

     <div class="middle-content">

      <h2>2021</h2>
      <div class="post-collapse">
      <ul>
         <a href="/layout/diary/gossip/CyberBGWarrior.html"><li><div class="post-box">
        <span class="post-date">01-04</span><span class="post-name">赛博BG战士会梦见婚姻殿堂吗</span>
       </div></li></a>
      </ul>
      </div>

      <h2>2020</h2>
      <div class="post-collapse">
      <ul>
       <a href="/layout/diary/gossip/AboutRules.html"><li><div class="post-box">
        <span class="post-date">11-22</span><span class="post-name">所谓规则啊</span>
       </div></li></a>
       <a href="/layout/diary/gossip/PainAndLife.html"><li><div class="post-box">
        <span class="post-date">11-03</span><span class="post-name">孤独地痛苦着、无谓地坚持着</span>
       </div></li></a>
       <a href="/layout/diary/gossip/YourAttention.html"><li><div class="post-box">
        <span class="post-date">08-21</span><span class="post-name">“你的注意力可以变现”</span>
       </div></li></a>
      </ul>
      </div>
     </div>
    </div>
    <div class="sidebar-right"></div>
    </div>
   </div>
  </div>

   <footer>
     <div class="footer-inner">
       <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
     </div>
   </footer>
   <div class="back-to-top">
    <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
   </div>
 </body>
</html>