<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <title>霸总小说好看吗？好看 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/amusement/index.html"><li class="list-item">返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>书籍 - 网络爽文好看吗？好看
   </div>

   <div class="middle-content">
    <h1>霸总小说好看吗？好看</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2021-02-23</span>
    </div>
    <p>进晚本来想岛建的，但是又突然不想了(?)于是来回忆并随便讲讲我至今看过的网络小说，都是女频文。感觉给每一篇开个阅读笔记似乎不合适，因为我<strong>全部都是跳着看的</strong>，而且除了甜一下爽一下也没什么更深刻的感想了。</p>
    <p>霸道总裁好嗑吗？好嗑。</p>
    <p>我向来都认为人就应该雅俗共赏，看过不好的才能分辨什么是好的，就像我的播放列表里从古琴独奏到西洋交响乐再到日式炸厕所音乐应有尽有，除了rap和爵士乐我是真的欣赏不来。当然这里没有网文或者哪种音乐类型不好的意思。有些网文即使受到受众人群的影响剧情发展需要向阅读量低头但真的还是挺有趣的，日式炸厕所音乐也非常带感，不然我也不会看不会听是不是。</p>
    <hr />
    <p>最开始看网文是因为看到了一篇微博推荐，是的我那个时候还在用微博。推荐了一本娱乐圈霸总文，夜盛霆x沈安然，被开头吸引于是去搜了全文。之后觉得非常上头于是四处搜罗甜美小情侣嗑，口味限定在现代、不带系统的重生，娱乐圈除了最开始那篇也不怎么喜欢看了。后来开始看那种80多章的小甜文，还看了几篇“悬爱”(说实话觉得这个定义蛮好玩的)，之后又去看军婚和穿书，还有和冥王结婚(。)女频的悬疑恐怖基本就是阴婚到冥王这样子，换皮霸总。</p>
    <p>（前段时间冥婚闹得非常凶，虽然那个时候我已经有很长一段时间没看网文了但是依旧情不自禁想到女频的悬疑恐怖榜。突然觉得好苦啊，好苦啊。虽然我不太信阴曹地府，就算有我更不相信活人能用阳间钱操控阴间事。但是冥婚这件事存在的本身却能反应一些观念和寄托——因为死后的命运将不受自己控制，所以只能通过文字幻想一下自己被配到了冥王——这么想真的太苦涩了。）</p>
    <p>后来就没再找到什么我觉得还挺有意思能让我看下去的网文了，于是又缩回微信阅读薅羊毛读出版书了。希望有新的小情侣给我嗑~</p>
    <hr />
    <p>因为网文的标题实在是太复杂了，并且都差不多，而且还会因为各种原因改名，所以我全部用男女主名字罗列，作者都是网名也不写了网上一搜就有。大体按照阅读顺序排列。</p>
    <p>只是随便看了几章的那种就不列了。</p>
    <p>+</p>
    <ol>
     <li>夜盛霆 x 沈安然<br>入坑作，看的时候二人刚生小女孩，之后就没追了。还不错，唯一能看得下去的娱乐圈浓度较高的作品。</li>
     <li>慕非池 x 云曦<br>又一篇微博推荐，挺好看的。看的时候未完结，更新频率不高所以没追完。</li>
     <li>墨景深 x 季暖<br>我目前最喜欢的小情侣，可惜据说副cp抄袭。一般都对副cp无兴趣我没看，说是抄袭了原耽。<br>嘻嘻对原耽充满偏见的我寻思可能顶多算狗咬狗。<br>（但是我真的超喜欢这对啊艹真实强强作品描写社会的氛围很棒白莲花也很持久(?)车也香的不行，人间不值得了）</li>
     <li>司夜寒 x 叶绾绾<br>马甲太多了跳着看没看懂，男女主都挺纸片的。但是前期意外上头。</li>
     <li>陆霆骁 x 宁夕<br>还行，人物纸片程度依然高出(我看到的)霸总文平均水平，作者风格吧可能。但是这对挺甜。</li>
     <li>厉爵风 x 顾小艾<br>宁就是割肾虐文开山鼻祖？</li>
     <li>薄靳言 x 简瑶<br>看到作者写完这本后还跟进了小剧场，结果在2中某位在小剧场里孩子都有了的角色死了，盲猜后来才构思的2。<br>但是2挺难看的，就很狗血，我是真的喜欢1的这一对。</li>
     <li>韩沉 x 苏眠<br>挺狗血的……</li>
     <li>厉致诚 x 林浅<br>精简霸总文，车速较高，还不错啦。</li>
     <li>季白 x 许诩<br>没看完，作者很喜欢写婆婆阻碍婚事的剧情。</li>
     <li>言朔 x 甄爱<br>据说作者融梗？不评价了。看的时候还感叹过作者好博学。我倒是觉得哥哥团和《美人为馅》的那个组织有异曲同工之妙……</li>
     <li>傅维珩 x 苏莞<br>你妈的，纯爱战士高呼好看。虽然我一直拉琴但是让Kerishya成为小提琴x大提琴的想法还是来源于此。</li>
     <li>慕承和 x 薛桐<br>这对给予了我搞师生oc的灵感233333不过后来没搞下去，设定倒是还记得，有兴致就在博客里讲一讲。</li>
     <li>顾魏 x 我<br>忘记女主名字了……现实向，像日记。看完之后一直在找医生男主的文章。</li>
     <li>何苏叶 x 沈惜凡<br>男主是中医，忘记讲了什么了……只记得看的时候挺喜欢的。</li>
     <li>陆淮 x 叶楚<br>似乎是我唯一看到结局的非现代背景文。舍友推荐的，男女主很好嗑，但是最终boss排场没撑住，阴谋太掉价了。<br>希望各位女频小作家写不来大阴谋就别硬写，被白莲花陷害陷害也不是不好看……</li>
     <li>顾沉 x 简桑榆<br>喜欢这对的相处模式，但是没追完不知道认亲后发展成什么样了。</li>
     <li>权靖城 x 萧岚夜<br>可以说是我觉得墨景深 x 季暖后第二好看的文了。</li>
     <li>慕煜尘 x 席夏夜<br>上文作者的早期作品吧，文笔太尬了汗。少数女配浪子回头的作品，看到热评猜测作者估计因此被读者骂死了哈哈哈哈。（脱离评论区的无情刷文机器）</li>
     <li>夜司溟 x 陈秀秀<br>很像男孩子写的？从一开始就在追，当时面临腰斩。这种发展在女频肯定很不吃香啊哈哈哈哈今天想起来还去看了一眼，因为我还挺喜欢的，结果800多章了二人只亲了一次(还是迫不得已)，还没睡过草。<br>在一众冥王宠妻里能吃香就怪了，去男频不知道能不能挣扎一下。</li>
    </ol>
    <hr>
    <p>想了想还是放在书籍阅读分类下了。我寻思我之后还能盘点一波恶役大小姐少女漫画(手动狗头)
    <br>上面有几篇后来剧改了吧，估计书评区已经变成追星刷屏专区了，嘻嘻。
    <br>说起来我扫荡完大妈之家我能找到的恶役大小姐漫画后卡塔莉娜也动画化了。我明白了，我看啥啥火(doge)</p>
    <div class="post-copyright">
     <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
  </div>
 </div>
</div>

<div class="sidebar-right">
</div>
</div>
</div>
</div>

<footer>
<div class="footer-inner">
<script>$(".footer-inner").load("/layout/partial/footer.html")</script>
</div>
</footer>
</body>
</html>