<!DOCTYPE html>
<html lang="zh-CN">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
  <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
  <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
  <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
  <title>书架 | UTOPIA</title>
 </head>

 <body>
  <header>
    <div class="header-inner">
      <script>$(".header-inner").load("/layout/partial/header.html")</script>
    </div>
  </header>

  <div class="author-inner">
    <script>$(".author-inner").load("/layout/partial/author.html")</script>
  </div>

  <div class="main-inner">
   <div class="content">
    <div class="content-inner">
     <div class="sidebar-left">
      <ul class="left-nav">
        <a href="/layout/amusement/index.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
      </ul>
     </div>
    
    <div class="middle">
     <div class="middle-bar">
      <i class="fa fa-book" aria-hidden="true"></i>想读 & 想看
     </div>

     <div class="middle-content">
      <h2>文学</h2>
      <div class="post-collapse">
      <ul>
       <li><input type="checkbox" defaultChecked="">《古希腊神话故事》</li>
       <li><input type="checkbox" checked="">《局外人》[阿尔贝·加缪]</li>
       <li><input type="checkbox" defaultChecked="">《鼠疫》[阿尔贝·加缪]</li>
       <li><input type="checkbox" defaultChecked="">《西西弗神话》[阿尔贝·加缪]</li>
       <li><input type="checkbox" defaultChecked="">《醉与罚》[陀思妥耶夫斯基]</li>
       <li><input type="checkbox" defaultChecked="">《飞鸟集》[泰戈尔]</li>
       <li><input type="checkbox" defaultChecked="">《海子的诗》[海子]</li>
       <li><input type="checkbox" defaultChecked="">《荷马史诗》</li>
       <li><input type="checkbox" defaultChecked="">《仿生人会梦见电子羊吗》[菲利普·迪克]</li>
      </ul>
      </div>

      <h4>中洲游历计划·启程 [j.r.r.托尔金]</h4>
      <div class="post-collapse">
      <ul>
       <li><input type="checkbox" defaultChecked="">《指环王三部曲》</li>
       <li><input type="checkbox" defaultChecked="">《霍比特人》</li>
       <li><input type="checkbox" defaultChecked="">《精灵宝钻》</li>
      </ul>
      </div>

      <h4>吸血鬼编年史·初入坑 [安妮·赖斯]</h4>
      <div class="post-collapse">
      <ul>
       <li><input type="checkbox" defaultChecked="">《夜访吸血鬼》</li>
       <li><input type="checkbox" defaultChecked="">《吸血鬼莱斯特》</li>
       <li><input type="checkbox" defaultChecked="">《吸血鬼女王》</li>
      </ul>
      </div>
     </div>
    </div>
    <div class="sidebar-right"></div>
    </div>
   </div>
  </div>

   <footer>
     <div class="footer-inner">
       <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
     </div>
   </footer>
 </body>
</html>