<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>菲利普·K·迪克 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/amusement/index.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>书影音 - 菲利普·K·迪克
   </div>

   <div class="middle-content">
    <h1>菲利普·K·迪克</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2021-03-31</span><!-- | <span class="post-meta-item"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>更新于 20??-??-??</span>-->
    </div>
    <h2>仿生人会梦见电子羊吗</h2>
    <ul>
     <li>他每天顶着的蔑视目光有三个星球那样重。</li>
     <li>他站在破败的客厅里，在这无孔不入、没心没肺、沛然霸道的死寂中，竟然对自己的死期有了小小的期待。</li>
     <li>去他的殖民地，最好让他们互相打起来——毕竟，理论上是有可能发生的——然后殖民地就跟地球一样了。移民出去的每一个人，都变成了特障人。</li>
     <li>很显然，移情现象只存在于人类社群中，而智力则或多或少地普遍存在于所有门类的动物身上，甚至包括蜘蛛。比如，产生移情的一个先决条件是群体本能。而像蜘蛛那样的独居生物，移情不但无益，反而可能有害于它的生存，因为移情能让它体会到被它困住的猎物对生的渴望。如此一来，所有食肉动物，包括像猫那样高度进化的哺乳动物，都可能饿死。</li>
     <li>“有没有可能——不是性——而是爱？”<br>“爱是性的别名。”</li>
     <li>他似乎有种惊鸿一瞥的黑暗印象：那些人残忍无情，带着一张名单和一支枪，像机器一般驶过平坦无聊的杀人任务。都是些没有感情，甚至没有脸面的东西。这东西要是被杀了，立即会被另一个一模一样的东西取代。如此等等。直到每一个活生生的真人都被射杀。</li>
     <li>但是，当你抑郁到那种程度，你就不再关心别的事情。冷漠，是因为感觉自己失去了价值。你感觉好不好根本没关系，因为你没有价值。</li>
     <li>不管去哪里，你都不得不做一些错事。这是生命的基本条件，要求你违背自己认同的身份。在某些时候，每个活着的生命都必须这么做。这就是终极阴影，造物的缺陷。这是终极诅咒，那个吞噬所有生命的诅咒。整个宇宙都是这样。</li>
     <li>时间如潮水，他想。生命循环。结束在这个最后的暮光中。最终是死亡的寂静。他在这件事里感觉到了一个完整的缩微宇宙。</li>
     <li>我从来没有过这种感觉。我们是机器，像瓶盖一样从流水线上生产出来。我的个性化存在，只是一个幻觉。我只是一种机型的代表。</li>
    </ul>
   </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
<script type="text/javascript" src="/source/js/turntopage.js"></script>
</html>