<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="/source/js/turntopage.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>《上帝的图书馆》| UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/amusement/index.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>书籍 - 《上帝的图书馆》
   </div>

   <div class="middle-content">
    <h1>《上帝的图书馆》</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2020-06-20</span>
    </div>
    <h2>读后感（剧透预警）</h2>
    <blockquote><p>你以为这是个脑洞极大疯子遍野的黑暗奇幻？不，其实它是个父爱如山的故事√最后快到结局的时候我每看一段都想停下来高呼厉害，结果每一段都在变得更厉害，第一个高潮以为全本就是个宿命论，还有点小失望，越接近结尾越发现不是，深度爽文，作为爽文我打四星，这就是当代处女作的真正实力吗，我跪下了</p>
    <p><em>（2020.6.20阅读完毕，于微信阅读评论）</em></p>
    </blockquote>
    <p>首先，这毫无疑问，是一本脑洞巨大——其实就是说，设定非常新颖的小说。故事开场就充满了黑暗腐朽，以及一些气味。说起来，我总能在阅读的时候不知不觉幻想气味。以前看一些cp同人文，如果是那种，类似中世纪的西幻设定，我总会想到他们是不怎么洗澡的，然后就会感觉所有亲密举动都会带着一丝味道（陷入沉思）所以这篇文章给我的感觉就是从头到尾都充满血腥、尸体腐烂，以及“<a href='https://baike.baidu.com/item/氨/384093?fromtitle=阿摩尼亚&amp;fromid=10867795&amp;fr=aladdin'>阿摩尼亚</a>”的味道吧。</p>
    <p>主角卡萝琳被选作“继承人”后，她脱离了人类社会，走向了一个未知而疯狂的世界。这里所有人都是疯子，每个人都在承受身体和心灵的双重苦楚，有来自“父亲”的惩戒，有来自“门类”的折磨，看起来都是“父亲”有意为之。他们可以随意死亡，因为复活是相应“门类”的人的义务。他们没法离开图书馆，也没法死去。于是恐惧和痛楚无穷无尽。他们有性生活，有自愿的、也有强迫的；他们吸大麻以慰藉心灵。卡萝琳在经历了挚爱的小鹿被做成食物后，心中透彻的恨意被激起，对这一切变得冷漠无情。她没有丧失意志，她细细谋划，她想取缔这一切。</p>
    <p>当伤害和死亡都可以在表面上被无限抹平后，图书馆中的一切疯狂似乎都变得合理起来。这些疯狂是罪孽吗？也许是的，但这是一个无法被三维规则衡量的世界，是上帝的位面，是已经抛弃了三维世界规则的生物存在的位面。书籍是反重力的、建筑面积是脱离常识认知的、三维世界的罪犯在这里可以变成主导三维世界的神，因为“犯罪”的规矩是三维的人立下的。这世界本没有规则，上帝创造了规则、人又创造了规则。上帝的规则让宇宙正常运转，人类的规则是出于不让他人感到不适而建立起来的——即使是这样的理由，规则也是枷锁。</p>
    <p>所以我想，这一切其实从头到尾都是“父亲”有意为之的不是吗，最无辜的还是主角以外的十二个孩子，他们都是主角成为下一任上帝的牺牲品，就连他们父母双亡也是“父亲”间接造成的。可指责他的不是似乎又被这些规矩圈在方圆之地里了。可是卡萝琳受到伤害了吗？受到了，哪怕这一切都是为了磨练她，掏空她，让她成为上帝，就算兜兜转转是为了人类社会，她依旧“痛苦不已，需要安慰”。这是生活在不存在人类社会规则束缚的世界造就的。</p>
    <p>然而从踏进图书馆的那一刻开始，她就注定不再以人类这一身份生存了。在“父亲”布下的棋盘里被迫毁灭一切，喜欢的、厌恶的、感恩的、憎恨的，等经历过这种种感情，销毁了一切她本该拥有的本不该拥有却不得不承受的，最终像刺猬一样将自己困在由尖锐的武器筑成的城墙之中，这还不够，这只是单纯的冷漠。要再从城墙中走出，才能成为了上帝、无敌的上帝。肉体的无敌不是无敌，所以大卫失去了继承人的资格，精神的无坚不摧才是真正无敌。淡薄、深远，将冷酷与慈悲的胸怀在血液里融为一体，“父亲”口中的“坚强”，是否是只能经历这样一轮灵魂的涤荡才能到达的境界；想要作为超凡脱俗的存在，是否都要在骨子里刻上这样的“坚强”。“父亲”的所作所为脱离了常识，已经无关人类的“对错”，无论我如何理解但不赞同，不赞同这个感情本身就是人类规则下的思考方式。</p>
    <p>所以这本书里塑造的每个角色都可以用一个词面对——我觉得斯蒂夫说得对，“慈悲”，不是怜悯，而是慈悲，他是本书主要角色中唯一一个思考方式最接近普通人的。图书管理员们的经历都太不平凡了，他们的感情也都太复杂了，以我的认知来评判的话。我也只能以自己世界的规则来思考评判。但我很喜欢卡萝琳成为上帝后、将“父亲”复活前，和斯蒂夫相处那几篇的情节和对话。脱去角色层面来看，作者用这些话，从宇宙缔造者角度探讨了人性和真理——至少有很好地表达了作者的观点。而从角色层面来看，作者没有局限于“卡萝琳‘夺权’成功就成为了上帝”这种爽中爽文的故事框架，而继续探讨了要作为一个“真正的、合格的超凡脱俗之人”——没错，卡萝琳是人，起码最初是，她自我调侃时说道这件事谁都能干——还需要拥有的情感，“慈悲”，对，慈悲。通过跨越心煤——我想，对于卡萝琳来说，不仅仅是她的初恋斯蒂夫，还包括她的小鹿、她的“父亲”、她真正的父母，和她的兄弟姐妹——成为无坚不摧、全知全能的上帝。否则就会像收留图书管理员的房东太太那样永远止步不前，面临“要么自己别去思念，要么抱着回忆死去”的结局。</p>
    <p>斯蒂夫这个角色，当真是完全生动形象地诠释了什么是“可怜人必有可恨之处”——其实这本书的角色多多少少都有这种属性。斯蒂夫一切悲剧的开端都是源自一个“意外”的车祸。抛去“父亲”有意为之，看到他堕落时我不经在想，当平静的生活被意外打破的时候，一蹶不振的结局似乎太正常了，“振作”这个词在此时显得无比苍白无力。</p>
    <p>其实我还很喜欢一个安排，就是在卡萝琳完全胜利以后，作者才借着带斯蒂夫参观的篇幅介绍了图书馆的全览景观。卡萝琳对图书馆的认知已经改变了，由原先那个充满压抑氛围的、令人窒息的小小的隔间，变成一个巨大的、容纳着整个银河宇宙的、完全属于自己的图书馆。这让我想到电影《肖申克的救赎》，在电影的最后，主角瑞德离开保释后居住的小镇前往安迪告诉他的那颗大树，到最后的最后在海滩与安迪重逢，这短短的几分钟，让电影狭小了两个小时的空间——牢房、小黑屋、典狱长的办公室、监狱的图书馆，以及罪犯保释后居住的旅馆、工作的商店——突然变得开阔而明朗，狭窄的灰色视觉空间突然被斩破了，瞬间涌进了各种各样广阔而鲜明的色彩，充满了重获新生的希望。当然，此时的卡萝琳还未完全获得新生。</p>
    <p>我大胆猜测一下，卡萝琳的门类“语言”，也是父亲安排好的吧……只有学会了所有语言，才能在之后无障碍地学习其他门类啊。</p>
    <p>话说，这个故事真的完全由一开始的黑暗奇幻变成了阐述父爱如山的故事了啊？？？结局非常，可以说是非常温暖了，和开头的感觉真是差太远了。</p>
    <p>不过我还挺喜欢这个结局的。</p>
    <p>最后一颗星没给的原因是，对于这个宏大的、可圈可点的世界观，作者却没有好好把撑起世界观的上帝麾下的十二个门类解释完全（卡萝琳跟欧文和斯蒂夫对话时明明是个很好的时机啊！）。不过这个没解释完全也确实不影响对主线剧情的认知。个人觉得最遗憾的还是没能解释清楚卡萝琳到底是怎么把这个几乎无所不知、无所不能、战斗力爆表的“父亲”杀掉的……虽然后来作者让“父亲”强行解释了一句“你赢得光明正大”，但在读者看来，感觉还是会有点胜之不武的疑虑啊_(:з)∠)_</p>
    <blockquote><p>以上谨代表个人理解及观点。</p>
    </blockquote>
    <div class="post-copyright">
     <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
    </div>
    <div class="valine-box">
     <script>$(".valine-box").load("/layout/partial/valine.html")</script>
    </div>
   </div>
   </div>

   <div class="sidebar-right">
    <ul class="right-nav">
     <a href="/layout/amusement/shuyingyin/TheLibraryAtMountChar1.html"><li class="list-item">摘 抄</li></a>
     <a href="/layout/amusement/shuyingyin/TheLibraryAtMountChar2.html"><li class="list-item active">读后感</li></a>
    </ul>
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
</html>