<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>一颗韭菜正在茁壮成长 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/diary/index.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>记事 - 一颗韭菜正在茁壮成长
   </div>

   <div class="middle-content">
    <h1>一颗韭菜正在茁壮成长</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2021-02-18</span>
    </div>
    <p>好久没写日志了，随便写写。</p>
    <p>最近我在干什么（对我而言的）新鲜事呢？
    <br>买基金。</p>
    <p>因为开始实习，有工资收入了（虽然不多），就去学习了一些理财知识，加上老婆之前也开始买基金，还因为在最高点买入最低点卖出白酒被我嘲笑了几次。被老婆安利后就这么入坑了……其实刚刚入坑的时候我有点慌，因为感觉前几个月基金涨得好厉害，好可怕，之后会不会一路下跌。但是当时想想大不了被套两三年，总会通货膨胀的。</p>
    <p>（后来入了军工坑才知道，被套了以后心态根本扛不住……）</p>
    <p>当时就是有点等不及了，也没有好好研究该怎么玩，连交易日规则都不知道，基本上算是追涨入了老婆推荐的两个基。不过追涨的时机也还好，因为正好买在波动时跌的那一天，就是那段时间唯一的一个凹点，投的也不多。还买了白酒，买完后小涨了两天开始大跌，emmm。不过之后还是涨回来了，小赚一笔后卖了，因为嫌买得太高了，打算等低一点后再重新买入。也不是特别在意手续费，反正还是赚了。结果现在……后悔，总之就是非常后悔，不是因为明明可以赚得更多，而是因为感觉就算当时买高了对于未来来说也是低位……只能等机会再上车了。</p>
    <p>之后又去学习了基金和股票知识，自己选了两支基，但是选得其实还是没有很慎重，只是比以前多出一个选择动作而已。结果因为大学专业的情怀关系，加上对自己专业挺看好的，又研究了一下军工股都如正弦波般周期波动、总能等到一个山顶的，于是一个手滑就上了军工车，紧接着就经历了激烈的将近20点回调……</p>
    <p>其实感觉自己心态还挺好的，之前买了白酒后白酒也猛跌了6个点。我另一位姬友和我差不多时间买的，到最低点后承受不住卖出了（卖出后第二天就开始连涨）。我等它慢慢涨了回来，虽然收益绿着看起来确实挺难受的。不过当时还不太会玩，应该在最低点往里加点的。包括买军工的时候，我刚买第二天就跌了将近6个点，之后一路下跌我一路淡定地往里投钱，看着讨论区跑了一波又一波人，然后迎来了某天将近6个点的领跑涨停（虽然之后又一直小跌）。但是就算我心态还不错，之前看着军工连着跌七八天的时候也有点受不了了，而且是一天两三个点一天两三个点地跌，何况要是被套两三年呢...。果然干什么事情不亲身经历一次都很难把话说死啊。</p>
    <p>今天是年后赌场第一天开门，绿了一大片。年前看中了几个基，打算上车，现在学会加自选慢慢观察了。之前没上过医疗车，今天医疗跌停了。直觉和搞军工的一点皮毛经验告诉我跌停不是终点，所以等它再跌两天再加入，笑死。还看中了看中的医疗基经理的新基，打算加入。</p>
    <p>买了基金以后法定节假日就变得有点索然无味，一天的快乐从开盘开始，从收盘结束。持着200块的份额操着20万的心，但是每天看着盘起起伏伏真的很有意思。</p>
    <p>感觉自己买基金的快乐不是来源于收益，而是看盘，笑死。其实有点莫名不太看好今年行情，但反正也是韭菜，投的钱也不多，随便玩玩呗。身处其中又好像不关我事，这不比炒大头菜有意思。
    <br/>（买到难喝的喜茶新品的钱都比能亏的钱多）</p>
    <div class="post-copyright">
     <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
    </div>
    <div class="valine-box">
     <script>$(".valine-box").load("/layout/partial/valine.html")</script>
    </div>
   </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
</html>