<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <title>讲个笑话，本科生毕业论文 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/diary/index.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>记事 - 讲个笑话，本科生毕业论文
   </div>

   <div class="middle-content">
    <h1>讲个笑话，本科生毕业论文</h1>
     <div class="post-meta">
      <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2020-11-19</span>
     </div>
     <p>这两天在找毕设导师，以及想转行，说服父母失败，并且理想职业被“血缘家人”狠狠地侮辱了。所以讲点好玩的事吧。</p>
     <p>起初我联系的导师（女），把我叫过去后，对着我和我的舍友先说了一句：想要男生，带两个女生是不行的。这老师是学长推荐的，听到这句话后心中的大叉已经打下了，只想跑路。想到了曾经在了解蜂群特性的时候看到的“蜂后综合症”，所以感谢她拒了我。</p>
     <p>拒我的原因，性别是其次，主要是觉得我不能留在她的课题组继续研究。这不是我一个人遇到的问题，我身边还没保研的同学，不论男女，基本都因为这件事情被拒过，直白地被拒，婉转地被拒，都有。上文我联系的导师也说，因为不想带本科生做毕设，大家基本都不愿意带本科生做毕设，投入的成本太高了，没有留在自己的课题组会很亏，所以还是希望找考研后留在各自的课题组继续做自己科研助手的人。</p>
     <p>我们学校的毕设是老师出题、学生选题的。（是不是都是这样的？）我自己考研想考去学校开的新校区，新校区只有一个课题组，并且老师不带毕设。在联系了两三个老师无果后我想要不还是等抽签吧。在考研前安排那么多工作不想让我上岸也就算了，总不能不让我毕业吧？</p>
     <p>大家都不愿意带本科生做毕设，那这学士学位干嘛还要存在呢？我是不理解了，直接高考完就去读研不就行了？直接高考完就去跟导师做国家级应用项目不就行了？那等22岁的时候不就都能成为导师的科研好助手了？反正这些教授副教授博导研导带本科生本来只是义务，是硬性规定，那从18岁带个研究生也不是不可以吧？还是完完全全按照自己的路子成长起来的亲孩子呢。哪有那么多厉害人，本科阶段花时间考100门试做100个实验，毕业设计问你能不能直接上手国家级应用项目？不就是因为本科不教我才考研的吗？哦，忘了，读完研还是什么都不会，工作还是从0学起，因为学习不能靠<em>教书育人</em>的老师，要靠自己。</p>
     <p>越来越觉得学历什么的真没意思，东亚人就喜欢哄抬学位对工作的价值，完全不注重一个人到底学到了什么、学会了什么。就像我渐渐意识到了考研数学不是数学，考研英语不是英语，考研政治更不可能是政治，考研只是一大片考点。在复习考研的过程中你完全没有机会去意识到e<sup>n</sup>是一个多么美妙的函数，你只会学到它能被展开为无穷级数。</p>
     <p>因为想转的行业其实不怎么需要看学历，更注重实力和工作经验，读研反而投入了错误的时间成本，可父母也就一根筋，觉得不管怎么说你要读个研究生。我理解，这也对，因为当代人眼里的“正经工作”确实看学历比较多，起码在入职的时候是不太看中个人能力的。国人的人生就是一个个断层：高考完后突然就开始承担以前大家都希望你不要花心思考虑的事物，大学毕业后开始接触你曾经完全不知道还存在的东西（最简单最基础的，五险一金、十五薪之类的），研究生毕业后发现开始工作了所有的东西都要从0学起。很多时候大家已经是为了竞争而竞争了，所以等到真正需要用到花费四年甚至六年半宝贵青春在学校学习的知识以后才会发现，我到底学了点什么？无数年轻人正在为这种事情苦恼，老一辈却还沉浸在自己过去的梦幻中：<strong>现在的生活多幸福啊，以前我们连饭都吃不饱。</strong></p>
     <p><strong>如果可以，我也多希望自己吃饱饭就能获得快乐啊。</strong>或许真当我吃不饱的时候，也没心思因为这些事情痛哭流涕了吧。吃饱饭就能快乐了吧。可能我还是吃得太饱了吧。家长问我“你的人生目标是什么？”我回答“有能力就改造世界，没能力就随波逐流，正常上下班，为老板打工，可能会遇到恋人，可能会有孩子，平时做做自己喜欢的事，努力地活到人生终点。”一生碌碌无为，做一节能量慢慢耗尽的电池，沉没在历史的洪流中，为五斗米折腰。被家长骂了放屁，你就是没有目标。那么我要反问人生目标是什么呢？是一个职业、一个理想，还是一个对于自我人格的追求，还是只是家长希望从孩子嘴里听到的答案？</p>
     <p><strong>时代变了，大人。</strong>这六个字的梗，已经被渐渐玩得深入人心到丢失了它原本应该蕴藏的意义了。在这个时代，意识到自己只是个被压迫着的普通人是多么难能可贵的精神啊。不要乱喝鸡汤，你越努力，你老板越幸运，系统就是这么运转的，不是灌两嘴鸡汤就能改变客观事实的。哪有什么远大的人生理想啊。有能力的幸运儿就去改变世界，无能力的普通人就认命，要么努力活着为了明天奶茶店的买一送一，要么急着去死，仅此而已。绝大部分人都不会是英雄的。</p>
     <p>以及我们连毕设导师名单都没给……舍友都联系到导师了，我一问一个不带，无语。不会吧不会吧，我要没老师要了？虽然菜是原罪，但我罪不至此吧...</p>
     <div class="post-copyright">
      <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
     </div>
    </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
</html>