<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="/source/js/turntopage.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>科目二即将五次没过是什么体验？ | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/diary/index.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-book" aria-hidden="true"></i>记事 - 科目二即将五次没过是什么体验？
   </div>

   <div class="middle-content">
    <h1>科目二即将五次没过是什么体验？</h1>
    <div class="post-meta">
     <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2020-06-27</span> | <span class="post-meta-item"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>更新于 2020-07-28</span>
    </div>
    <body>
    <h3>2020-06-27 准备冲第五次</h3>
    <p>前天教练终于回来了。今晚他问我能不能来练车，我说等我7.1考完学校的试。第五次科二，我其实已经满心向着自动挡了，这次纯粹因为我妈觉得“你最后一次机会不去白不去啊”，打算去把机会花掉，就当熟悉新考场了，希望新考场别再倒闭或者拆迁了，自动挡时再见面。</p>
    <p>我倒是打算换个驾校学自动挡。我这教练，脾气也不是特别差吧，但就是很佛，我第一次上路啥都不会，啥都没教就不说了，那天从大路返回他要我开回驾校，前面都要到分岔口了他还在副驾玩手机不指路（我也有错，我就是因此差点开进沟里）；第三次考科目二，因为疫情要求考生戴手套，我是在app报名的时候看了一眼考试须知所以戴了一副手套（但是进考场后被告知不能用，要戴那种医用的），当天和我一起考试的同门兄弟根本对此一无所知。还是一位好心教练送了我一副，那位教练一脸不可思议：你们教练竟然没告诉你们。我当时觉得那天就很Lucky，天气也好，是个阴天，既不晒又不下雨，又因为劳动节调休所以是周六，我妈那天不知为何不用上班，正好不请假也可以来陪我考试，之前还是免费在考场练的车，天时地利人和。唯一的心结是当天抽到了④号车，不过那位同门兄弟开的⑥号车，他挂了，而且④什么的本身就是个迷信，所以也没啥。这么Lucky，总该过了吧。</p>
    <p>在本地第一天练车的时候教练对当天练车的学员说：“在考场练车还不过，那也不用学了。”虽然我不是很同意，但是这话也不是完全没有道理，毕竟点什么的都非常确定。</p>
    <p>结果没过。呵呵。</p>
    <p>第四次考试抽到的还是④号车，知道它离合其实挺敏感挺好踩的，就是会溜车，所以一路非常注意，也没熄火。第二圈才能满分到坡道。</p>
    <p>最近我老婆开始学自动挡，她说她教练对她说：“自动挡nt都能学会。”真的很好笑。</p>
    <p>今天我对教练说我7.1学校有考试前，教练问我7.1的科二考试能不能参加，我惊呆了，也就是说如果我7.1学校没考试，这次我从报名到考试结束又只需要三四天的时间。真就快刀斩乱麻，长痛不如短痛，失眠数周不如失眠三天，笑死。</p>
    <h3>2020-07-05 明天考试了</h3>
    <p>明天去考第五次科二，换了个考场，这次考场比较不一样，直角拐弯过后是紧急情况停车和隧道，一路直着开完，之前的考场隧道是要拐弯的。直角弯也不用提前回灯。考场偏僻，四周也没什么树木，感觉场地就特别开阔。这次练车感觉自己又变强了一点，笑死。不过已经下定决心从科一开始学自动挡了，就无所谓了吧。</p>
    <p>听说八月份新规，不允许去考场模拟了。问了下教练那该怎么办，教练说会在考场旁建一个和考场一模一样的场地来模拟。总觉得多此一举，不知道这其中有什么弯弯绕绕。</p>
    <p>说是无所谓，心里还是很想过的哈哈哈哈哈哈，不过过了也很麻烦，手动挡的科目三就确实很麻烦。</p>
    <p>今天上午练车好几次手刹都忘记放了，就状态不太行，然后以前一直很稳定的坡道现在就一直很烂，侧边线对不好，明天去撞运气。下午肚子疼，从三点多睡到晚上八点，还是好困。</p>
    <p>前几次考科目二前都会提前两天开始失眠，这次我真的好平静，锦鲤都懒得转发了。</p>
    <h3>2020-07-06 过了</h3>
    <p>我这次过了啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊！！！</p>
    <p>这次的主要目标是挂得体面点，让我回来好写博客，笑死。</p>
    <p>上午十点进的候考区，下午四点才考完出来。生理期，整个人都昏昏沉沉的头疼，我跟我妈说我今天怕是要疲劳驾驶了。上午下大雨，结果我考的时候只下了毛毛雨，好像进第二项倒库的时候就不下了，然后再一次开始下的时候我已经快开到最后一项进隧道了，而且下的也不大，就非常Lucky。</p>
    <p>大概下午三点的时候吧，新桑手动挡还有40+人没考上，工作人员进来告诉我们6号车和11号车动力有问题，上坡放了刹车后要踩下油门。一共六辆车在考，我当时心想哇就我这驾考倒霉人，说不准就会上这两辆的其中一辆啊，然后莫名其妙就开始相信自己一定会上这两辆车的其中一辆，觉得没想到等久一点还有工作人员提醒的福利啊，算是不幸中的万幸了，考验我技术的时候到了。结果叫到我名字，拿纸条一看我是20号车，20号车上一个人考过了，瞬间有点受鼓舞，觉得这辆车看起来有点东西。</p>
    <p>中途直角弯拐过去后我想停车准备一下再进下一个项目，结果停车的时候刚好听到机器报下一个项目是什么，也就是说我正好刚出这个项目……好惊险，差点就要被判在直角弯停车了，之后想起来后怕得我冷汗直冒。</p>
    <p>下车的时候安全员指挥我把车开到起点，问我合格没，我还是第一次能说出“合格了”，然后下一个准备考20号车的女士恭喜我，问我离合滑不滑，我说不滑，非常好开，告诉她加油。感觉回家乡后几次在考场遇到的人都很亲切，可能因为候考区不能玩手机，大家真的很无聊，又是驾考难兄难妹，就都开始自来熟。可能因为遇见考第五次的人的几率太低了，我能瞬间成为焦点，我说我这是第五次考的时候周围坐着的人一下子都转过头来看我，最后签字的时候刷身份证，签字人员看了一眼屏幕然后惊讶：第五次啊！旁边在和签字人员聊天的一位教练很感叹，说我赚了1万块。确实，再次报名加各种模拟真的可以达到1万元。</p>
    <p>这次我自己都觉得自己冷静得不可思议，明明和前几次一样还是很渴望能过的，但几个小时的等待期间一点都不紧张，考前的晚上睡得也非常香甜，没有失眠状况……上车腿都不像之前几次那样情不自禁地抖了，结果一把过，坡道侧边对线大于30cm小于50cm，-10分，和7月3号模拟时一样，感谢那天冒雨陪我在考场看点的教练。</p>
    <p>感觉好神奇，打开app的约考界面不再跳出科目二考场，而是科目三考场了，我终于走到科目三这一步了啊。不知道科目三又会挂几次，笑死。</p>
    <p>晚上我爸妈觉得必须庆祝一番，于是又下了馆子。我借着练车和考科目二倒是蹭了我娘不少饭hhhhhhhh！非常感谢这三次风雨无阻送我练车和考试的爹娘55555555每次我娘在外面都能打听到一手消息，然后感慨一句挂的人也太多了吧，笑死。以及这次练车遇见了第三次科二练车时一起练车的一位摩托增驾C1的叔叔，他上一次科二也挂了，还有一位研三小姐姐，超级活泼，人也超好的，我模拟那天晚上和她约了饭，等她过了我们要继续约饭hhhh</p>
    <h2>今天我科目三过了吗？</h2>
    <h3>2020-07-08 准备正式练</h3>
    <p>明天练科目三了！买了考场的网络教程，边看边想如果直线行驶的时候对面有变道车迎面而来怎么办（超小声（希望我能坚持到每条线路的直线行驶<br/>
    希望科目三少挂几次。科目二好不容易过的，挂不起了挂不起了.jpg</p>
    <h3>2020-07-22 明天第一次考</h3>
    <p>上文教练把我们托付给的那个新教练，明天要带我们去考场。是我科二过了的那个考场，天哪，前教练从来没有把我们亲自送去考场考过试……</p>
    <p>我可以接受自己的失误，但是别人搞我我不能接受……尤其有一条线好坑啊，左转过后紧接着要做在右车道的超车项目，但是左转需要进左车道，可以说是根本没时间变道。直接转进右边车道的话，安全员有几率给你踩停，就很离谱。经历了五次科目二，我对驾考非常不信任_(:з)∠)_</p>
    <p>因为是教练把我们一起送过去，所以明天要起大早，今天我又早起了，早起傻一天，我真的是疲劳驾驶了一天……（但是一坐到驾驶座上就很亢奋，很神奇！</p>
    <p>今天练车，我曾经觉得没什么问题机器也没报过错的直线行驶疯狂出错，刚报直线行驶紧接着就控制不好方向盘-100分了。我好懵，又好忐忑，又感觉是车有点歪把子，又觉得是我没开好……只能明天去撞运气。</p>
    <p>不管过不过明天再来BB科三练车的事情，应该能码出一些对我来说有趣的事情的……吧。</p>
    <h3>2020-07-23 我过了</h3>
    <p>我的天，我一把过了啊啊啊啊啊啊啊啊啊一把满分过！！！！就很Lucky，和第五次科二同一个考场，是考场四条线里最简单的道，然后听说今天有一条道有个酒鬼在大马路上拦车，一个多小时才被警察制裁，这也太惨了……但是同门考那条线的小哥过了。</p>
    <p>今天一起考科三的这位同门小哥科二一把过的，科三考了四次。听他分享他的挂科血泪史，前两圈绕车失败，第三圈模拟灯光挂了，第四圈没注意到起步前安全员把手刹又给拉回去了，挂了。前四圈大路考没上过大路，和我的前四圈小路考有一拼了。第五圈第六圈机器各报了两次档位与速度不匹配，思前想后没想出自己的问题，最后得出是机器信号不好的结论，各80分挂。今天遇到了拦路酒鬼，第八圈90分过的，太不容易了，大家都太不容易了，科二科三简直就是诅咒……</p>
    <p>一车三个人，都是同门，因为是一起排队进考场的。一位小姐姐挂了两次直线行驶，另一位小姐姐靠边停车的时候机器报了什么，未按规定加减档？后来安全员说是百米加速的时候没保持45码5秒以上，好可惜。第二圈心态崩了，模拟超车灯光的时候回右转向灯时太用力了，直接掰到左转向灯了。我感觉我纯属歪打正着，因为我以为百米加速的时候保持40码以上3秒就可以了，结果那段时间我前面路上非常空，我寻思就多踩会油门，开个50码，就像模拟紧急路况处置报警灯多开几秒一样，稳妥，你总不会扣我分吧。</p>
    <p>今天我本来依然非常冷静，冷静得不可思议，结果在上车前因为车里那位后来挂直线行驶的小姐姐非常紧张，我那已经被科二锻炼出的铁石心肠也开始有点把持不住了，但是坐上车的那一刻我又非常冷静。直线行驶意外地非常顺利，本来已经做好机器报“无法完成直线行驶”的准备了……今天五点钟起床，紧急百度了一下直线行驶技巧，然后发现直线行驶评分规则是车辆左右不能跑宽0.5米，方向盘小幅度摆动就可以，和方向盘直不直无关。所以就下定决心等直线行驶的时候只顾目视远方把车开直，别管方向盘。</p>
    <p>掉头后要百米加速，我其实一开始都没反应过来，结果掉头后突然灵光一闪开始加速，感觉已经是本能反应了……或者说回神回得太及时了。结束前，路口左转后再往前走一段就是靠边停车，左转弯时我停车挂了一档，结果车开直准备换挡的时候有一瞬间懵了，完全不知道二档在哪里，那种感觉，就很神奇。还好也及时回过神了。今天这辆车会嗯，松离合的时候会强行把车拖回当前档位的最低速度，不知道是不是所有车都这样，但是教练车是不会的，今天车被拖回低速的时候好几次我都觉得要熄火了……而且今天运动鞋底比较厚，一直卡着我后脚跟，松离合的时候好几次都被硌了几下，教练车是不会的，绝了。</p>
    <p>练了这么久的车，每一次遇到的一起练车的小伙伴都挺好的，嗳，候考区的人也很好。今天在签字处，有个小哥突然转头问我：“你第五次科二过啦？”笑死，是之前我第五次科二在候考厅听我叙述我悲惨挂科经历的人之一，我带着口罩都认出我了<del>（不过我今天穿着和我第五次考科二一样的衣服因为我觉得这是一套能使我Lucky的衣服）</del>，果然考五次的人能成为全场焦点（不是</p>
    <p>结果我想不出什么有趣的练车故事哈哈哈哈哈。今天没排多久队，大概九点多进去的十一点就考上了，下午出来突然被这次一起练车的，就是之前那位第一圈差点过了的女士拉去唱了四小时歌，和上文的同门小哥一起。在认识了不到两天的人面前唱歌，好神奇的经历啊，播放列表歌曲数目增加了！</p>
    <p>我终于有希望霸占我窥觎已久的车载播放器了哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈！！！</p>
    <p>考四次的小哥就是我第一次开科三被教练从打火骂到熄火时，同车一起练车的小哥。那时他开的巨好，更加衬托我的烂。今天发现我们原来住在同一个小区哈哈哈哈哈，还是很高兴他能过的，为每一个在挂科后，尤其是挂了好几次还坚持考试的小伙伴高兴！</p>
    <p>然后我的前教练，甩手掌柜（？）傍晚来找我把我一顿猛夸，说我太厉害了，难道说科三一把过的人很稀有吗，听我娘说她有个同事就是科二挂了好几次科三一把过的。还是说教练根本不信任我，笑死，其实我科三平时练车都没怎么出错，我还挺慌的，因为我科二就是一到考场才出错，平时都挺顺利的。</p>
    <p>先这样了，我好久没打游戏了我要快活去了.jpg</p>
    <h2>今天我拿证了吗？</h2>
    <h3>2020-07-23 科四准备</h3>
    <p>1300+题，没有地域特典，加油争取一次过_(:з)∠)_<br/>
    <del>（话说家乡科一有将近200题的地域特典，还好我在全国题只有1200题左右还没有地域特典的时候过了科一）</del></p>
    <p>考完后因为被父母催然后问了下教练科四要准备啥，感觉已经变成被教练嫌弃的过去式了.jpg</p>
    <h3>2020-07-28 拿了！</h3>
    <p>98分一把过了科四！</p>
    <p>考前突然紧张，这个考场等候室可以玩手机，于是开始在考场打开驾考宝典随机刷了好久题，就是莫名有点慌张，科四有些题真的……看得我一脸懵。</p>
    <p>结果还好哈哈哈，一把过了，错了道多选，问开车不良行为，以为经常看后视镜也属于不良行为，就选了，想着是要多看后视镜嘛，经常的话频率是不是有点太高了，结果就错了。</p>
    <p>太开心了！！！！！！无与伦比的快乐！！！！从2018年12月到2020年7月，将近两年，拿得太挫折了。中间挂科目二的时间比较长，科二过了后一个月内就拿到了（见上文）而且这个考场是当场拿证。虽然有个离家更近的郊区考场，但一开始以为要自己去所以约了这个基本可以地铁直达的，结果我爹突然说要请假送我。早上半小时能走完的路堵车堵了一小时，如果当初约郊区的话应该不会堵车堵那么久，考场的人也不会很多，但是郊区那个考场不一定能当场拿证hhhhhh</p>
    <p>是C1哦！！！
    现在想想要是第五次科目二没过的话还不知道要折腾多久……还好过了。</p>
    <p>之后要是想起什么有必要留念的驾考有趣事就再来更新吧~估计也没啥了，快乐是快乐不过拿到驾照的hhhhh</p>
    <div class="post-copyright">
     <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
    </div>
    <div class="valine-box">
     <script>$(".valine-box").load("/layout/partial/valine.html")</script>
    </div>
   </div>
   </div>

   <div class="sidebar-right">
    <ul class="right-nav">
     <a href="/layout/diary/diary/MyDrivingLicense1.html"><li class="list-item">上</li></a>
     <a href="/layout/diary/diary/MyDrivingLicense2.html"><li class="list-item active">下</li></a>
    </ul>
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
</html>