<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <title>血族 / 吸血鬼 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/ukitopia/vampires/index.html"><li class="list-item active">简 介</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-magic" aria-hidden="true"></i>血族 / 吸血鬼
   </div>

   <div class="middle-content">
    <blockquote>灵感源自《模拟市民4：吸血鬼》</blockquote>
    <div class="post-meta">
    </div>
    <p>在<a href="/layout/ukitopia/index.html"> Ukitopia <i class="fa fa-external-link" aria-hidden="true"></i></a>中，人族本身没有魔力。但人族可以通过一些手段使自身获得神族或者鬼族的魔力，尔后这类群落逐渐繁衍成一个庞大的群体。以这样的方式形成的全新种族被统称作“类人族”，由数个不同的种族构成。</p>
    <hr>
    <p>“血族(Kindred)”的俚语是“吸血鬼(Vampire)”，是人族获得<b>鬼族</b>的魔力后形成的种族。牠们的心脏在成为吸血鬼时停止跳动，因此为不死族(The Undead)的一员。永生的血族们以血液为生，若长时间未进食血液，则将逐渐失去超自然力量。牠们无法依靠心脏跳动来维持强有力的新陈代谢，因此消化固体的能力被放弃退化。
    <p>由于新陈代谢极度缓慢，血族们虽然有交配行为，但难以通过自身繁衍，因此主要以“初拥(The Embrace)”人族的方式吸纳新成员。吸纳新成员前需要向亲王(Prince)请求许可，并且获得“初拥”资格的人族需要经过严格筛选。新生的血族被族内称为幼崽(Kid)。在幼崽成为成熟的血族前，依然要经历一番考验。</p>
    <p>血族以血液为媒介承载及传承力量。历史上鲜有纯血统(The Pure Blood)血族的记载，传闻纯血统幼崽自出生时便无心跳，生理能力薄弱，却同时继承了雌性(Mother)和雄性(Father)的血液及血液承载的力量，因此难以存活。在血族悠久的历史中，纯血统的记载尚未被<b>亲王</b>及任何元老证实。</p>
    <p>血族中贵族的力量通常强于普通血族，因此亲王是血族中最强的存在。虽然拥有超自然力量，牠们在阳光下依然会被燃为灰烬，且无任何措施以预防，因此不会在白天时外出。在满月时血族的力量将会减弱。血族的天敌是狼人(Eerewolf)，在人族中也有反抗吸血鬼捕食人族的血猎组织(Blood Hunt)。但血猎组织常常只会与普通血族交手。</p>
   </div>
   </div>

   <div class="sidebar-right">
    <ul class="right-nav">
     <a href="/layout/ukitopia/vampires/index.html"><li class="list-item active">血族Wiki</li></a>
    </ul>
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
<script type="text/javascript" src="/source/js/nocopy.js"></script>
</html>