<!DOCTYPE html>
<html lang="zh-CN">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
  <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
  <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
  <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
  <title>王家记事 - 残章 | UTOPIA</title>
 </head>

 <body>
  <header>
    <div class="header-inner">
      <script>$(".header-inner").load("/layout/partial/header.html")</script>
    </div>
  </header>

  <div class="author-inner">
    <script>$(".author-inner").load("/layout/partial/author.html")</script>
  </div>

  <div class="main-inner">
   <div class="content">
    <div class="content-inner">
     <div class="sidebar-left">
      <ul class="left-nav">
       <a href="/layout/ukitopia/providence/index.html"><li class="list-item">简 介</li></a>
       <a href="/layout/ukitopia/providence/fragments.html"><li class="list-item active">残 章</li></a>
      </ul>
     </div>
    
    <div class="middle">
     <div class="middle-bar">
      <i class="fa fa-magic" aria-hidden="true"></i>王家记事 - 残章
     </div>

     <div class="middle-content">
      <div class="post-collapse">
      <ul>
       <a href="/layout/ukitopia/providence/fragments/202102.html"><li><div class="post-box">
        <span class="post-name">2021年2月作品集</span>
       </div></li></a>
       <a href="/layout/ukitopia/providence/fragments/202101.html"><li><div class="post-box">
        <span class="post-name">2021年1月作品集</span>
       </div></li></a>
      </ul>
      </div>
     </div>
    </div>
    <div class="sidebar-right"></div>
    </div>
   </div>
  </div>

   <footer>
     <div class="footer-inner">
       <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
     </div>
   </footer>
 </body>
</html>