<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <title>Providence | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
     <a href="/layout/ukitopia/providence/providence.html"><li class="list-item active">舞 台</li></a>
     <a href="/layout/ukitopia/providence/character.html"><li class="list-item">人 物</li></a>
     <a href="/layout/ukitopia/providence/fragments.html"><li class="list-item">残 章</li></a>
   </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-magic" aria-hidden="true"></i>普罗维丹斯
   </div>

   <div class="middle-content">
    <body>
     <h1>The Providence</h1>
     <center><font color="red" size="4">- 架空世界观，一切内容与现实无关。-</font></center>
     <h2>概览</h2>
     <ul>
     <li>国名：The Providence</li>
     <li>译名：普罗维丹斯</li>
     <li>简介：民族国家，政体类似<a href='https://baike.baidu.com/item/%E7%AD%89%E7%BA%A7%E5%90%9B%E4%B8%BB%E5%88%B6/10850954?fr=aladdin(https://baike.baidu.com/item/等级君主制/10850954?fr=aladdin)' target='_blank'>等级君主制
      <i class="fa fa-external-link" aria-hidden="true"></i></a>的王国，崇尚文治。</li>
     <li>在Ukitopia中：位于第二宇宙，崇尚主神信仰。</li>
     
     </ul>
     <h2>政治</h2>
     <h3>社会结构</h3>
     <div class="table-container"><table>
     <thead>
     <tr><th>社会结构(由高到低)</th><th>备注</th></tr></thead>
     <tbody><tr><td>君主</td><td>国王/女王</td></tr><tr><td>世袭贵族</td><td>公爵→侯爵→伯爵→子爵→男爵<br>公爵由君主直接受封，绝大部分拥有领地。<br>侯爵及以下的爵位可以由拥有领地的公爵授封，君主有权管理。<br>有几率断后或被革职。</td></tr><tr><td>新贵族<br>&amp;骑士</td><td>新贵族多为拥有个人财富的商人，没有爵位，有几率被授封。一般没有领地。<br>骑士可以直接为君主效力，也可以受雇效力于各贵族。</td></tr><tr><td>市民</td><td>一般群众，可以推举议政代表。</td></tr></tbody>
     </table></div>
     <h3>会议制度</h3>
     <ul>
     <li>贵族例会：类似等级代表会议的政务会议，由君主、各公爵和市民代表例会中推举出的市民代表参与。</li>
     <li>领地贵族例会：由该领地的世袭贵族和市民代表参与的会议。</li>
     <li>市民代表例会：由各领地市民议政代表参与的会议，会议中将会会推举出参与贵族例会的市民代表。</li>
     </ul>
     <h2>历史</h2>
     <h3>统治者</h3>
     <p>第十二任君主：Erik Providence/艾里克·普罗维丹斯，于普罗维丹斯王历305年继位。
     第十三任君主：Ishya Providence/艾雪·普罗维丹斯，于普罗维丹斯王历332年继位。</p>
     <h2>地理</h2>
     <h3>自然</h3>
     <h4>王都</h4>
     <p>王都Pressel/普利希尔。</p>
     <h4>西荻亚</h4>
     <p>Sietia/西荻亚。</p>
     <p>与其他领地不同，西荻亚的领主并非属于世袭贵族的公爵，而是新贵族财团，因此西荻亚常常不满于王城王室的决断。
     究其历史原因，西荻亚并非最初就是属于普罗维丹斯的城市，这一点从它的名字拼写可以看出。第五任君主本着开放的理念并未让普罗维丹斯世袭贵族入驻为领主，在百年后逐渐演变为一个历史遗留问题。</p>
     <h3>人文</h3>
     <h4>民族</h4>
     <p>Pressel/普利希尔民族</p>
     <h4>人名</h4>
     <p>名字·家族姓氏·被赐予的姓氏
     <em>（或名字·被赐予的姓氏·家族姓氏）</em></p>
     <p>在普罗维丹斯，人们更看重名字。因此人们更加看重个人的意志，姓氏比起家族标志更像是一种区分标志，所以违背个人意向而成全家族的联姻或催婚催育现象较为少见。</p>
     <p>不太看重姓氏的文化，也是继承人们在成年前得以藏匿自己的原因之一。</p>
     <p>这也导致了一系列问题，比如被淡化的血缘关系和家庭关系引发的前辈赡养和小辈教育责任感缺失、世袭贵族家族荣耀感缺失。以王族为中心建立的、相对成功的爱国教育激发的民族凝聚力在一定程度上掩盖了这样的问题。但这如同一张星形拓补结构的网络，中心若是瓶颈，整个网络便会瘫痪。</p>
     <h4>服装</h4>
     <p>分为类地球现代风格的服饰和民族服饰，都分别有日常款式和正装。现代风格多流行长款和高领，是受民族风格的影响。</p>
     <h4>教育</h4>
     <p>普罗维丹斯的教育在世界中享有盛名。</p>
     <div class="table-container"><table>
     <thead>
     <tr><th>设施</th><th>等级</th><th>备注</th></tr></thead>
     <tbody><tr><td>School/学堂</td><td>primary→middle→high<br>无入学考试但是有升学考试。</td><td>为市民接受义务基础教育的地方。<br>贵族与市民都可以就读，但市民较多。</td></tr><tr><td>College/公学</td><td>elementary→advanced<br>对应甚至高于School的middle和high。<br>学费较高，学科也更多。<br>拥有入学考试和升学考试。</td><td>原型伊顿公学(但不是男校)+加尔古·马库士官学校。<br>贵族与市民都可以就读，但贵族较多。</td></tr><tr><td>University/学院</td><td>分为学术型和技术型。<br>学术型有入学考试。</td><td>是学者或在职人员进修的地方。<br>学院可根据进修需要选择性就读。<br>贵族与市民都可以就读。</td></tr></tbody>
     </table></div>
     <p>在孩子们进入学堂前，可以参与各类私人开设的的学前班。</p>
     <h5>名校</h5>
     <p><strong>Garcia College/珈尔西亚公学</strong>
     王立珈尔西亚公学是历代君主就读的学校，12岁至14岁的学生就读于初等部，15岁至17岁的学生就读于高等部。初期仅设立珈尔西亚公学，而后分别设立了珈尔西亚音乐学院及珈尔西亚美术学院。</p>
     <h4>信仰</h4>
     <h4>其他</h4>
     <h2>其他</h2>
     <h3>对于贵族的称谓</h3>
     <p>以英文为世界观标准，中文为对应翻译体系，与现实有不同：</p>
     <div class="table-container"><table>
     <thead>
     <tr><th>英文</th><th>中文</th></tr></thead>
     <tbody><tr><td>His/Her majesty <br><em>(the king/queen)</em></td><td>国王/女王陛下</td></tr><tr><td>His/Her majesty</td><td>在适当语境下作为前任君主及其配偶的第三人称</td></tr><tr><td>Your majesty</td><td>在本人面前对(前任)国王/女王及其配偶的尊称</td></tr><tr><td>Prince/Princess <em>xxx</em></td><td><em>xxx</em>殿下(指未继承王位的王子/王女及其配偶)</td></tr><tr><td>Your highness</td><td>在本人面前对王子/王女及其配偶的尊称  <br>对应中文翻译中王子/王代表君主的孩子，其配偶不被译为王子/王女</td></tr><tr><td>Lord <em>xxx</em></td><td><em>xxx</em>大人</td></tr><tr><td>My lord</td><td>在本人面前对贵族的称呼/贵族小孩对父母的称呼（父亲大人/母亲大人）</td></tr></tbody>
     </table></div>
     <p>与现实的差异：</p>
     <ol start='' >
     <li>Prince/Princess不包括亲王/王妃的意思，仅指王子和王女及其配偶。</li>
     <li>亲王仅指女王的丈夫。</li>
     <li>My lord不包括称呼法官的意思。</li>
     <li>王女=公主，君主的所有女儿都可以被称呼为王女。</li>
     </ol>
     <hr />
     <p>有些复杂，故举例：</p>
     <ul>
     <li>Ishya在加冕前是&quot;Princess/Your highness/王女殿下&quot;
     此时Kerwin是&quot;Prince/Your highness/弗洛雷斯殿下&quot;，在与Ishya结婚前被称作Lord Flores/弗洛雷斯大人。</li>
     <li>Ishya加冕后是&quot;Queen/Your Majesty/女王陛下&quot;
     此时Kerwin是&quot;His Majesty/Your Majesty/亲王陛下&quot;</li>
     </ul>
     <h2>奇闻异事</h2>
     <ol start='' >
     <li>普罗维丹斯家族丁兴旺，300多年的历史只出过两任女王（因为没生出女孩）。上一任女王是一百多年前的双胞胎之一，妹妹继承了王位，姐姐辅佐妹妹，终生未婚，第二任就是Ishya。</li>
     <li>普罗维丹斯的人民非常尊重靠自己的劳动养活自己的人，甚至曾经引发过“盗贼到底属不属于这一行列”的激烈探讨。</li>
     <li>主流价值观下的普罗维丹斯人民一辈子都不会停止学习新的知识和新的技能。</li>
     </ol>
     <hr />
     <center>T.B.C</center>
     <div class="post-copyright">
      <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
     </div>
     </body>
   </div>
   </div>

   <div class="sidebar-right">
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
<script type="text/javascript" src="/source/js/turntopage.js"></script>
<script type="text/javascript" src="/source/js/nocopy.js"></script>
</html>