<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="/source/js/turntopage.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>见证者 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
     <a href="/layout/ukitopia/index.html"><li class="list-item">· 总 览 ·</li></a>
     <a href="/layout/ukitopia/uki/index.html"><li class="list-item">主 管</li></a>
     <a href="/layout/ukitopia/witness/index.html"><li class="list-item active">见证者</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-magic" aria-hidden="true"></i>见证者
   </div>

   <div class="middle-content">
    待填坑
    <div class="post-copyright">
     <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
    </div>    
    <div class="valine-box">
     <script>$(".valine-box").load("/layout/partial/valine.html")</script>
    </div>
   </div>
   </div>

   <div class="sidebar-right">
    <ul class="right-nav">
     <a href="/layout/ukitopia/witness/index.html"><li class="list-item">· 序 ·</li></a>
     <a href="/layout/ukitopia/witness/character.html"><li class="list-item active">成 员</li></a>
    </ul>
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
<script type="text/javascript" src="/source/js/nocopy.js"></script>
</html>