<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>见证者 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/ukitopia/witness/index.html"><li class="list-item active">见证者</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-magic" aria-hidden="true"></i>见证者
   </div>

   <div class="middle-content">

    <blockquote>设定框架来自<b>本人</b>，原稿撰写人为<b>秋见</b>，后根据Ukitopia世界观进行了一定的调整。</blockquote>
    <center><p>+</p><p>神在成就一切该做之事后，派下六位使者见证：
     <br>第一位是伊始，她骑着白马，所踏之地遍地鲜花；
     <br>第二位是权力，她手持权杖，万民便都跪下敬仰；
     <br>第三位是力量，他挥动旗帜，战火随之蔓延而来；
     <br>第四位是财富，她手持天秤，让人们站在了两侧；
     <br>第五位是名誉，他掌握潮流，叫人们因语言死去；
     <br>第六位是终末，他骑着黑马，迎着日落走向彼岸。</p>
     <p>当昼夜交替，白马与黑马并肩而立，旧日将化为乌有，从乌有中又会诞生新芽，步入新的轮回。</p></center>
    <div class="post-copyright">
     <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
    </div>    
    <div class="valine-box">
     <script>$(".valine-box").load("/layout/partial/valine.html")</script>
    </div>
   </div>
   </div>

   <div class="sidebar-right">
    <ul class="right-nav">
     <a href="/layout/ukitopia/witness/index.html"><li class="list-item">印象诗</li></a>
     <a href="/layout/ukitopia/witness/character.html"><li class="list-item active">总 览</li></a>
    </ul>
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
<script type="text/javascript" src="/source/js/nocopy.js"></script>
</html>