<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <title>见证者 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/ukitopia/witness/index.html"><li class="list-item active">见证者</li></a>
    </ul>
   </div>

   <div class="middle">

   <div class="middle-bar">
    <i class="fa fa-magic" aria-hidden="true"></i>见证者
   </div>

   <div class="middle-content">
    <center style="line-height:1.7em;"><p>夏天我常在炎热的天空里发呆
     <br><font size="2" color="grey">I dazed with the glowing summer sky</font>
     <br>海水寄居在空中的流云
     <br><font size="2" color="grey">Water from the ocean dwelled as clouds</font>
     <br>只是一行
     <br><font size="2" color="grey">Maybe they were only lines</font>
     <br>留在纸上的文字
     <br><font size="2" color="grey">Lines written on Someone’s scroll.</font></p>
     <br>
    <p>如今万人都应翻译作盲目
     <br><font size="2" color="grey">Faith shall be translated into blindness;</font>
     <br>我只追求着一个梦的途径
     <br><font size="2" color="grey">I tracked down to a path of dream</font>
     <br>小心地卧在渺茫的天边
     <br><font size="2" color="grey">Curling up under the heaven, quietly</font>
     <br>屏住呼吸，看人们没有见过的事
     <br><font size="2" color="grey">Holding my breathe</font>
     <br><font size="2" color="grey">I saw landscapes they never knew.</font></p>
     <br>
    <p>纸张还是幕布？
     <br><font size="2" color="grey">Paper or curtain?</font>
     <br>我是标点，抑或演员
     <br><font size="2" color="grey">I was born as a comma, or maybe actor</font>
     <br>我梦想抱住降落的笔尖
     <br><font size="2" color="grey">When the Nib touch the paper, I would</font>
     <br><font size="2" color="grey">hold it with both of my arms</font>
     <br>地面上的人
     <br><font size="2" color="grey">People on the ground</font>
     <br>只捕捉到天际的一闪
     <br><font size="2" color="grey">Would only have a glance.</font></p>
     <br>
    <p>我是生在宇宙的夹缝里
     <br><font size="2" color="grey">I opened my eyes between pages</font>
     <br>（不，当然不是书签；我没有那样伟大）
     <br><font size="2" color="grey">(No, definitely not a bookmark; I was much less than that)</font>
     <br>世界躺在庞大的书架上
     <br><font size="2" color="grey">The world settled on a great shelf</font>
     <br>我的生命宛如凶涛间的乳白色
     <br><font size="2" color="grey">My life was all blank and pure white, yet surfy like the sea</font>
     <br>瞧不见太阳是我们的父亲
     <br><font size="2" color="grey">Couldn’t see the sun was our Father.</font></p><br>
    <p><font size="5">「见证者」</font>
    <br><font color="grey">The Witness</font></p>

    <p>文：左剑鹰</p></center>
    <div class="post-copyright">
     <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
    </div>
   </div>
   </div>

   <div class="sidebar-right">
    <ul class="right-nav">
     <a href="/layout/ukitopia/witness/index.html"><li class="list-item active">- 伊始 -</li></a>
     <a href="javasctipt:"><li class="list-item">？</li></a>
     <a href="javasctipt:"><li class="list-item">Zoyann</li></a>
     <a href="javasctipt:"><li class="list-item">？</li></a>
     <a href="javasctipt:"><li class="list-item">？</li></a>
     <a href="javasctipt:"><li class="list-item">Ibby</li></a>
     <a href="javasctipt:"><li class="list-item">？</li></a>
    </ul>
   </div>
  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
</body>
<script type="text/javascript" src="/source/js/nocopy.js"></script>
</html>